<template>
    <div>
        <app-toolbar
            :page-title="$t(`pages.${getRouteBaseName($route)}`)"
            :actions="toolbarActions"
        />
        <div class="mt-6">
            <task-detail
                v-if="task"
                ref="taskDetail"
                :key="task.id + taskDetailTime"
                :value="task"
                :disabled="!isEdited"
            />
        </div>
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import AppToolbar from "../../../components/app/appToolbar";
    import TaskDetail from "../../../components/app/taskDetail";
    import {isEmpty} from "../../../utils";
    export default {
        components: {TaskDetail, AppToolbar},
        layout: 'app',
        asyncData({ route, error, app }) {
            if (!route.params.task) {
                error({ statusCode: 400, message: app.i18n.t('error.badRequestMessage')})
            }

            return {
                taskId: route.params.task
            }
        },
        apollo: {
            task: {
                query: gql`
                    query task($taskId: ID!) {
                        task(taskId: $taskId) {
                            id
                            name
                            description
                            assignedMembers {
                                completed
                                member {
                                    id
                                    nickname
                                    user {
                                        id
                                        fullname
                                    }
                                }
                            }
                        }
                    }
                `,
                variables() {
                    return {
                        taskId: this.taskId
                    }
                },
                context() {
                    return {
                        headers: {
                            'X-Tms-Member': this.$store.state.user.member.id
                        }
                    }
                }
            }
        },
        data() {
            return {
                isEdited: false,
                taskDetailTime: new Date().getTime()
            }
        },
        computed: {
            toolbarActions() {
                if (this.isEdited) {
                    return [
                        // Cancel editing
                        {
                            label: this.$t('app.cancel'),
                            type: 'app-secondary',
                            onClick: () => {
                                this.isEdited = false
                                this.taskDetailTime = new Date().getTime()
                            }
                        },
                        {
                            label: this.$t('app.save'),
                            type: 'app-primary',
                            onClick: () => this.updateTask()
                        }
                    ]
                } else {
                    return [
                        {
                            icon: 'trash',
                            label: this.$t('app.remove'),
                            type: 'app-secondary',
                            onClick: () => this.removeTask()
                        },
                        {
                            icon: 'edit',
                            label: this.$t('app.edit'),
                            type: 'app-primary',
                            onClick: () => this.isEdited = true
                        }
                    ]
                }
            }
        },
        methods: {
            async updateTask() {
                const editedTask = this.$refs.taskDetail.editedTask
                if (!isEmpty(editedTask)) {
                    try {
                        await this.$api.mutate({
                            mutation: gql`
                                mutation taskUpdate($taskId: ID!, $task: TaskInput!) {
                                    taskUpdate(taskId: $taskId, task: $task)
                                }
                            `,
                            variables: {
                                taskId: this.task.id,
                                task: editedTask
                            }
                        })
                        await this.$apollo.queries.task.refetch()
                        this.$toast.success(this.$t('task.updateSuccess'))
                    } catch (e) {
                        this.$toast.error(this.$t(`error.${e.message}`))
                    }
                }

                this.isEdited = false
                Object.assign(this.$refs.taskDetail.$data, this.$refs.taskDetail.$options.data())
            },
            async removeTask() {
                if (confirm(this.$t("task.sureToRemove"))) {
                    try {
                        await this.$api.mutate({
                            mutation: gql`
                            mutation taskRemove($taskId: ID!) {
                                taskRemove(taskId: $taskId)
                            }
                        `,
                            variables: {
                                taskId: this.task.id
                            }
                        })
                        await this.$router.push(this.localePath({ name: 'app-tasks' }))
                        this.$toast.success(this.$t('task.removeSuccess'))
                    } catch (e) {
                        this.$toast.error(this.$t(`error.${e.message}`))
                    }
                }
            }
        }
    }
</script>