/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

:root {
    --color-info: #63b3ed;
    --color-success: #48bb78;
    --color-error: #f56565;
    --color-warning: #d69e2e;
    --color-transparent: transparent;
}

.theme-light {
    --color-default: #fbffff;
    --color-primary: #424242;
    --color-secondary: #9e9e9e;
    /*--color-ternary: #f9fafb;*/
    --color-ternary: #f5f5f5;
    --color-accent-light: #4ebaaa;
    /*--color-accent-light: #58e576;*/
    /*--color-accent-light: #00e676;*/
    /*--color-accent-dark: #1A713A;*/
    /*--color-accent-dark: #00b248;*/
    --color-accent-dark: #00897b;
}

.fade-enter-active {
    @apply duration-150 ease-out;
}

.fade-enter {
    @apply opacity-0 scale-95;
}

.fade-enter-to {
    @apply opacity-100 scale-100;
}

.fade-leave-active {
    @apply duration-100 ease-in;
}

.fade-leave {
    @apply opacity-100 scale-100;
}

.fade-leave-to {
    @apply opacity-0 scale-95;
}

.notification {
    @apply text-default text-base font-medium !important;
}

.notification:hover {
    @apply no-underline !important;
}

.fade-open-enter-active {
    @apply duration-150 ease-out;
}

.fade-open-enter {
    @apply opacity-0 scale-95;
}

.fade-open-enter-to {
    @apply opacity-100 scale-100;
}

/*fullcalendar custom styles*/
.fc-content {
    cursor: pointer;
}

button.fc-button, button.fc-button:focus {
    color: var(--color-default);
    background-color: var(--color-accent-dark);
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/*button.fc-button-primary:focus {*/
/*    box-shadow: none;*/
/*}*/

button.fc-button:hover, button.fc-button-primary:not(:disabled).fc-button-active, button.fc-button-primary:not(:disabled):active , button.fc-button-primary:not(:disabled):active:focus{
    color: var(--color-default);
    background-color: var(--color-accent-light);
    box-shadow: none;
}

button.fc-button:disabled {
    color: var(--color-primary);
    background-color: var(--color-ternary);
}

.wysiwyg-html a {
    @apply underline text-info cursor-pointer;
}

.wysiwyg-html h1 {
    @apply text-xl
}

.wysiwyg-html h2 {
    @apply text-lg
}

.wysiwyg-html h3 {
    @apply text-base
}

.wysiwyg-html p {
    @apply text-sm
}

.wysiwyg-html ul {
    @apply list-disc;
}

.wysiwyg-html ol {
    @apply list-decimal;
}

.wysiwyg-html ul, .wysiwyg-html ol {
    @apply my-1 mx-2;
}