<template>
    <div class="w-full flex md:flex-row items-center justify-between border-b border-secondary px-2 mb-1 h-16" >
        <h1 class="text-lg md:text-xl text-primary">{{ pageTitle }}</h1>
        <div  class="px-2 text-primary">
            <btn v-for="action in actions" class="align-center text-sm ml-2" @click.native="action.onClick" :type="action.type">
                <template v-if="action.label && action.icon">
                    <font-awesome-icon
                        class="self-center sm:mr-2"
                        :icon="action.icon"
                    />
                    <span
                        class="hidden sm:inline-block"
                    > {{ action.label }}</span>
                </template>
                <template v-else>
                    <font-awesome-icon v-if="action.icon" class="self-center" :icon="action.icon" size="lg" />
                    <span
                        v-if="action.label"
                        class="self-center"
                    >{{ action.label }}</span>
                </template>
            </btn>
        </div>
    </div>
</template>

<script>
    import btn from "../btn";

    export  default {
        components: {
            btn
        },
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            actions: {
                type: Array,
                /**
                 * each action object has these params:
                 * @param type string - [`app-secondary`,`app-primary`, `primary`, `secondary`]
                 * @param icon string - (Font awesome icons imported as FA plugin)
                 * @param label string - label of the button
                 * @param onClick Function - Button's on click callback
                 */
                default() {
                    return []
                }
            }
        }
    }
</script>