<template>
    <modal :open="open" @close="$emit('close')">
        <template #body>
            <loader v-if="loading" :background="true" :fixed="true" />
            <h3 class="w-full text-primary text-lg sm:text-xl ">{{ $t('team.createMember.title') }}</h3>
            <form @submit.prevent="createMember" class="mt-8">
                <div class="flex flex-col">
                    <label class="mb-2 text-lg font-light" for="member-role">{{ $t('team.createMember.memberRoleLabel') }}</label>
                    <MySelect
                        id="member-role"
                        class="w-1/3"
                        :value="$t(`enums.memberRoles.${memberRole}`)"
                        :options="roles"
                        position="right"
                        @input="(role) => memberRole = role"
                    />
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-2 text-lg font-light" for="member-role">{{ $t('member.nickname') }}</label>
                    <input
                        v-model="memberNickname"
                        :aria-label="$t('member.nickname')"
                        :name="$t('member.nickname')"
                        type="text"
                        required
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                    />
<!--                    <p class="text-secondary text-xs italic">{{ $t('team.createMember.nicknameNote') }}</p>-->
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-2 text-lg font-light" for="member-role">{{ $t('user.email') }}</label>
                    <input
                        v-model="userEmail"
                        :aria-label="$t('user.email')"
                        :name="$t('user.email')"
                        type="email"
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                    />
                    <p class="text-secondary text-xs italic">{{ $t('team.createMember.emailNote') }}</p>
                </div>
            </form>
        </template>
        <template #actions>
            <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full sm:ml-3 sm:w-auto">
                    <btn @click.native="createMember" class="w-full justify-center" type="primary" >
                        {{ $t('team.createMember.submit') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$emit('close')" class="w-full justify-center" type="secondary" >
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
        </template>
    </modal>
</template>

<script>
    import modal from "../modal";
    import MySelect from "../select";
    import btn from "../btn";
    import gql from 'graphql-tag';
    import { RoleEnum } from '../../enums/RoleEnum'
    import Loader from "../loader";
    export default {
        components: {
            Loader,
            modal,
            MySelect,
            btn
        },
        props: {
            open: false
        },
        data() {
            return {
                memberRole: RoleEnum.COACH,
                userEmail: '',
                memberNickname: '',
                loading: false
            }
        },
        computed: {
            roles(){
                return Object.keys(RoleEnum).map((roleKey) => {
                    return {
                        value: roleKey,
                        label: this.$t(`enums.memberRoles.${roleKey}`)
                    }
                })
            },
        },
        methods: {
            async createMember() {
                try {
                    this.loading = true
                    await this.$api.mutate({
                        mutation: gql`
                            mutation addMember($teamId: ID!, $memberRole: RoleEnum!, $memberNickname: String!, $userEmail: String) {
                                addMember(teamId: $teamId, memberRole: $memberRole, memberNickname: $memberNickname, userEmail: $userEmail)
                            }
                        `,
                        variables: {
                            teamId: this.$store.state.team.team.id,
                            memberRole: this.memberRole,
                            memberNickname: this.memberNickname,
                            userEmail: this.userEmail.trim().length > 0 ? this.userEmail : undefined
                        }
                    })
                    Object.assign(this.$data, this.$options.data())
                    this.$emit('close')
                    this.$emit('created')
                    this.$toast.success(this.$t('team.createMember.successMessage'))
                } catch (e) {
                    console.log(e)
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
                this.loading = false
            }
        }
    }
</script>