<template>
    <modal :open="open" @close="$emit('close')">
        <template #body>
            <h3 class="w-full text-primary text-md sm:text-xl ">{{ $t('calendar.createEvent.title') }}</h3>
            <form @submit.prevent="createEvent" class="mt-8">
                <div class="flex flex-col">
                    <label class="mb-1 text-md font-light" for="event-start">{{ $t('calendar.event.title') }}</label>
                    <input
                        v-model="newEvent.title"
                        :aria-label="$t('calendar.event.title')"
                        :name="$t('calendar.event.title')"
                        type="text"
                        required
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('calendar.event.title')"
                    />
                </div>
                <div class="mt-6 flex flex-col sm:flex-row">
                    <div class="flex flex-col w-full sm:w-1/2 sm:mr-6">
                        <label class="mb-1 text-md font-light" for="event-type">{{ $t('calendar.createEvent.eventTypeLabel') }}</label>
                        <MySelect
                                id="event-type"
                                class="w-full"
                                :value="$t(`enums.eventTypes.${newEvent.type}`)"
                                :options="eventTypes"
                                position="right"
                                @input="t => newEvent.type = t"
                        />
                    </div>
                    <div class="flex flex-row items-baseline w-full sm:w-1/2 mt-6 justify-center">
                        <label class="mr-2 text-md font-light self-center" for="event-allday">{{ $t('calendar.createEvent.eventAllDayLabel') }}</label>
                        <input id="event-allday" class="self-center" type="checkbox" v-model="newEvent.allDay" />
                    </div>
                </div>
                <div class="mt-6 flex flex-col sm:flex-row">
                    <div class="flex flex-col w-full sm:w-1/2 sm:mr-6">
                        <label class="mb-1 text-md font-light" for="event-start">{{ $t('calendar.createEvent.eventStartLabel') }}</label>
                        <VueDateTime
                            id="event-start"
                            :disabled="newEvent.allDay"
                            v-model="startDate"
                        />
                    </div>
                    <div class="flex flex-col w-full sm:w-1/2 self-end">
                        <label class="mb-1 text-md font-light" for="event-end">{{ $t('calendar.createEvent.eventEndLabel') }}</label>
                        <VueDateTime
                            id="event-end"
                            :disabled="newEvent.allDay"
                            v-model="endDate"
                        />
                    </div>
                </div>
                <div class="mt-6 flex flex-col sm:flex-row">
                    <div class="flex flex-col w-full sm:w-1/2 sm:mr-6">
                        <label class="mb-1 text-md font-light">{{ $t('calendar.event.meetingTime') }}</label>
                        <VueDateTime
                            v-model="meetingTime"
                        />
                    </div>
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 text-md font-light">{{ $t('calendar.event.place') }}</label>
                    <input
                        v-model="newEvent.place"
                        :aria-label="$t('calendar.event.place')"
                        :name="$t('calendar.event.place')"
                        type="text"
                        required
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('calendar.event.place')"
                    />
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 text-md font-light">{{ $t('calendar.event.notes') }}</label>
                    <wysiwyg-editor v-model="newEvent.notes" />
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 text-md font-light">{{ $t('calendar.event.lineup') }}</label>
                    <players-selector v-model="newEvent.lineup" />
                </div>
            </form>
        </template>
        <template #actions>
            <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full sm:ml-3 sm:w-auto">
                    <btn @click.native="createEvent" class="w-full justify-center" type="primary" >
                        {{ $t('calendar.createEvent.submit') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$emit('close')" class="w-full justify-center" type="secondary" >
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
        </template>
    </modal>
</template>

<script>
    import modal from "../modal";
    import MySelect from "../select";
    import btn from "../btn";
    import gql from 'graphql-tag';
    import WysiwygEditor from "./wysiwygEditor";
    import VueDateTime from "./VueDateTime";
    import PlayersSelector from "./playersSelector";
    import {EventTypeEnum} from "../../enums/EventTypeEnum";

    export default {
        components: {
            PlayersSelector,
            WysiwygEditor,
            modal,
            MySelect,
            btn,
            VueDateTime
        },
        props: {
            open: false,
            initData: {
                type: Object,
                default() {
                    return {
                        allDay: true,
                        start: new Date(),
                        end: new Date(),
                        meetingTime: new Date()
                    }
                }
            }
        },
        watch: {
            initData: {
                immediate: true,
                deep: true,
                handler(nw) {
                    this.newEvent.allDay = nw.allDay
                    this.newEvent.start = nw.start
                    this.newEvent.end = nw.end
                    this.newEvent.meetingTime = nw.start
                }
            }
        },
        computed: {
          startDate: {
              get() {
                  if (this.newEvent.start instanceof Date) {
                      return this.newEvent.start.toISOString()
                  }
              },
              set(v) {
                  this.newEvent.start = new Date(v)
              }
          },
            endDate: {
                get() {
                    if (this.newEvent.end instanceof Date) {
                        return this.newEvent.end.toISOString()
                    }
                },
                set(v) {
                    this.newEvent.end = new Date(v)
                },
            },
            meetingTime: {
                get() {
                    if (this.newEvent.meetingTime instanceof Date) {
                        return this.newEvent.meetingTime.toISOString()
                    }
                },
                set(v) {
                    this.newEvent.meetingTime = new Date(v)
                }
            },
            eventTypes(){
                return Object.keys(EventTypeEnum).map(evenTypeKey => {
                    return {
                        value: evenTypeKey,
                        label: this.$t(`enums.eventTypes.${evenTypeKey}`)
                    }
                })
            }
        },
        data() {
            return {
                eventType: 'COACH',
                newEvent: {
                    title: '',
                    allDay: true,
                    type: EventTypeEnum.TRAINING,
                    start: new Date(),
                    end: new Date(),
                    meetingTime: null,
                    notes: '',
                    place: '',
                    lineup: []
                }
            }
        },
        methods: {
            async createEvent() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                            mutation eventCreate($seasonId: ID!, $event: EventInput!) {
                                eventCreate(seasonId: $seasonId, event: $event)
                            }
                        `,
                        variables: {
                            seasonId: this.$store.state.team.season.id,
                            event: this.newEvent
                        }
                    })
                    Object.assign(this.$data, this.$options.data())
                    this.$emit('created')
                    this.$toast.success(this.$t('calendar.createEvent.successMessage'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>