<template>
    <div class="last-events flex flex-col px-6 py-3 bg-default shadow-md">
        <div class="flex justify-between">
            <h2 class="text-lg uppercase text-accent-dark leading-relaxed font-light">{{ $t('dashboard.upcomingEvents') }}</h2>
            <btn
                    type="app-secondary"
                    @click.native="() => $router.push(localePath({ name: 'app-calendar' }))"
            >
                <font-awesome-icon icon="calendar-alt" class="mr-2" size="lg" />
                {{ $t('dashboard.seeCalendar') }}
            </btn>
        </div>
        <ul class="space-y-3 py-3">
            <li
                class="px-4 py-2 sm:px-6 sm:py-4 bg-ternary"
                v-for="event in events">
                <div class="flex justify-between items-center">
                    <div class="event-info">
                        <p class="text-primary text-base font-medium">{{ event.title }}</p>
                        <p class="text-secondary text-base font-medium">{{ new Date(event.start).toLocaleString() }}</p>
                        <p class="text-secondary text-base font-light">{{ $t(`enums.eventTypes.${event.type}`) }}</p>
                    </div>
                    <div class="event-action">
                        <btn
                            type="app-primary"
                            @click.native="() => $router.push(localePath({ name: 'app-event', params: { event: event.id } }))"
                        >
                            <font-awesome-icon icon="arrow-alt-circle-right" />
                        </btn>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import btn from "../btn";
    export default {
        components: {
            btn
        },
        props: {
            events: {
                type: Array,
                default() {
                    return []
                }
            }
        }
    }
</script>