<template>
    <div class="last-duties flex flex-col px-6 py-3 bg-default shadow-md">
        <div class="flex justify-between">
            <h2 class="text-lg uppercase text-accent-dark leading-relaxed font-light">{{ $t('dashboard.todayDuties') }}</h2>
            <btn
                    type="app-secondary"
                    @click.native="() => $router.push(localePath({ name: 'app-calendar' }))"
            >
                <font-awesome-icon icon="calendar-alt" class="mr-2" size="lg" />
                {{ $t('dashboard.seeCalendar') }}
            </btn>
        </div>
        <ul class="space-y-3 py-3">
            <li
                class="px-4 py-2 sm:px-6 sm:py-4 bg-ternary"
                v-for="duty in duties"
            >
                <div class="flex justify-between items-center">
                    <div class="event-info">
                        <p class="text-primary text-base font-medium">{{ duty.title }}</p>
                        <players-tag-list :players="duty.players" color="bg-accent-light" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import btn from "../btn";
    import PlayersTagList from "./playersTagList";
    export default {
        components: {
            PlayersTagList,
            btn
        },
        props: {
            duties: {
                type: Array,
                default() {
                    return []
                }
            }
        }
    }
</script>