<template>
    <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow-md overflow-hidden border-b border-ternary">
                <table class="min-w-full">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">
                            {{ $t('discussion.title') }}
                        </th>
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">
                            {{ $t('discussion.author') }}
                        </th>
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">
                            {{ $t('discussion.created') }}
                        </th>
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50"></th>
                    </tr>
                    </thead>
                    <tbody class="bg-default">
                        <tr v-for="discussion in discussions" :key="discussion.id">
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-ternary">
                                <div class="flex items-center">
                                    <div>
                                        <div
                                            class="text-sm leading-5 font-medium text-primary"
                                        >
                                            {{ discussion.title }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-ternary">
                                <div class="flex items-center">
                                    <div>
                                        <div
                                            class="text-sm leading-5 font-medium text-primary"
                                        >
                                            {{ discussion.author.nickname ? discussion.author.nickname : discussion.author.user.fullname }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-ternary">
                                <div class="flex items-center">
                                    <div>
                                        <div class="text-sm leading-5 font-medium text-primary">{{ new Date(discussion.created).toLocaleString() }}</div>
                                    </div>
                                </div>
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap text-right border-b border-ternary text-sm leading-5 font-medium">
                                <btn
                                    type="app-primary"
                                    @click.native="$router.push(localePath({ name: 'app-discussion', params: { discussion: discussion.id }}))"
                                >
                                    <font-awesome-icon
                                        icon="arrow-alt-circle-right"
                                    />
                                </btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import btn from "../btn";
    import { DateTime } from 'luxon'
    export default {
        components: {
            btn
        },
        props: {
            discussions: {
                type: Array,
                default() {
                    return []
                }
            }
        },
        data() {
            return {
                luxon: DateTime
            }
        }
    }
</script>