<template>
    <div class="bg-default shadow-lg overflow-hidden">
        <h1 class="text-accent-dark text-lg uppercase font-light p-4">{{ discussion.title }}</h1>
        <div
            v-if="addDiscussionMessageOpen"
            class="px-4 py-5 border-b border-ternary space-y-2"
        >
            <wysiwyg-editor :key="discussion.id + wysiwygEditorDatetime" v-model="newDiscussionMessage" />
            <div class="inline-flex space-x-2">
                <btn
                    @click.native="addDiscussionMessage"
                    type="app-primary">{{ $t('app.save') }}
                </btn>
                <btn
                    @click.native="$emit('closed')"
                    type="app-secondary">{{ $t('app.cancel') }}
                </btn>
            </div>

        </div>
        <div v-for="{ author, message, created } in messagesSortedByCreated" class="px-4 py-5 w-full border-b border-ternary">
            <p class="text-primary">{{ author.nickname ? author.nickname : author.user.fullname }} - <span class="text-sm italic text-secondary">{{ (new Date(created)).toLocaleString() }}</span></p>
            <div
                class="px-4 py-5 wysiwyg-html text-primary"
                v-html="message"
            />
        </div>
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import btn from "../btn";
    import wysiwygEditor from "./wysiwygEditor";
    export default {
        components: {
            wysiwygEditor,
            btn
        },
        props: {
            discussion: {
                type: Object,
                required: true
            },
            addDiscussionMessageOpen: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                newDiscussionMessage: '',
                wysiwygEditorDatetime: new Date().getTime()
            }
        },
        methods: {
            async addDiscussionMessage() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                            mutation discussionMessageAdd($discussionId: ID!, $message: String!) {
                                discussionMessageAdd(discussionId: $discussionId, message: $message)
                            }
                        `,
                        variables: {
                            discussionId: this.discussion.id,
                            message: this.newDiscussionMessage
                        }
                    })
                    Object.assign(this.$data, this.$options.data())
                    this.$emit('messageCreated')
                    this.$toast.success(this.$t('discussion.discussionMessage.addSuccess'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        },
        computed: {
            messagesSortedByCreated() {
                return this.discussion.messages.sort((a, b) => (new Date(a.created) < new Date(b.created)) - (new Date(a.created) > new Date(b.created)))
            }
        }
    }
</script>