<template>
    <modal :open="open" @close="$emit('close')">
        <template #body>
            <h3 class="w-full text-primary text-md sm:text-xl ">{{ $t('discussion.create') }}</h3>
            <form @submit.prevent="createTask" class="mt-8">
                <div class="flex flex-col">
                    <label class="mb-1 text-md font-light">{{ $t('discussion.title') }}</label>
                    <input
                        v-model="newDiscussion.title"
                        :aria-label="$t('discussion.title')"
                        :name="$t('discussion.title')"
                        type="text"
                        required
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('discussion.title')"
                    />
                </div>
            </form>
        </template>
        <template #actions>
            <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full sm:ml-3 sm:w-auto">
                    <btn @click.native="createTask" class="w-full justify-center" type="primary" >
                        {{ $t('discussion.create') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$emit('close')" class="w-full justify-center" type="secondary" >
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
        </template>
    </modal>
</template>

<script>
    import modal from "../modal";
    import MySelect from "../select";
    import btn from "../btn";
    import gql from 'graphql-tag';
    import WysiwygEditor from "./wysiwygEditor";
    import VueDateTime from "./VueDateTime";
    import PlayersSelector from "./playersSelector";
    export default {
        components: {
            PlayersSelector,
            WysiwygEditor,
            modal,
            MySelect,
            btn,
            VueDateTime
        },
        props: {
            open: false
        },
        data() {
            return {
                newDiscussion: {
                    title: '',
                    description: ''
                }
            }
        },
        methods: {
            async createTask() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                            mutation discussionCreate($seasonId: ID!, $discussionTitle: String!) {
                                discussionCreate(seasonId: $seasonId, discussionTitle: $discussionTitle) {
                                    id
                                }
                            }
                        `,
                        variables: {
                            seasonId: this.$store.state.team.season.id,
                            discussionTitle: this.newDiscussion.title
                        }
                    })
                    Object.assign(this.$data, this.$options.data())
                    this.$emit('created')
                    this.$toast.success(this.$t('discussion.createSuccess'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>