<template>
    <modal :open="open" @close="$emit('close');isEdited = false">
        <template #body>
            <h3 class="w-full text-primary text-md sm:text-xl ">{{ $t('calendar.duty.formTitle') }}</h3>
            <btn
                class="mt-2"
                v-if="isCoach && !isEdited"
                @click.native="isEdited = true"
            >
                <span>{{ $t('app.edit') }}</span>
            </btn>
            <form @submit.prevent="updateDuty" class="mt-8">
                <div class="flex flex-col">
                    <label class="mb-1 uppercase text-md font-light">{{ $t('calendar.duty.title') }}</label>
                    <input
                        :value="value.title"
                        :aria-label="$t('calendar.duty.title')"
                        :name="$t('calendar.duty.title')"
                        :disabled="!isEdited"
                        type="text"
                        required
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('calendar.duty.title')"
                        @change="({ target }) => editedDuty.title = target.value"
                    />
                </div>
                <div class="mt-6 flex flex-col sm:flex-row">
                    <div class="flex flex-col w-full sm:w-1/2 sm:mr-6">
                        <label class="mb-1 uppercase text-md font-light" for="duty-start">{{ $t('calendar.duty.start') }}</label>
                        <VueDateTime
                                id="duty-start"
                                type="date"
                                :disabled="!isEdited"
                                v-model="startDate"
                        />
                    </div>
                    <div class="flex flex-col w-full sm:w-1/2 self-end">
                        <label class="mb-1 uppercase text-md font-light" for="duty-end">{{ $t('calendar.duty.end') }}</label>
                        <VueDateTime
                            id="duty-end"
                            type="date"
                            :disabled="!isEdited"
                            v-model="endDate"
                        />
                    </div>
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 uppercase text-md font-light">{{ $t('calendar.duty.description') }}</label>
                    <wysiwyg-editor
                        v-if="isEdited"
                        :value="value.description"
                        @input="(val) => editedDuty.description = val"
                    />
                    <div
                        v-else-if="value.description && value.description !== ''"
                        class="wysiwyg-html bg-ternary px-3 py-3"
                        v-html="value.description"
                    />
                </div>
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 uppercase text-md font-light">{{ $t('calendar.duty.players') }}</label>
                    <players-selector
                        v-if="isEdited"
                        :value="value.players ? value.players.map(player => player.id) : []"
                        @input="(val) => editedDuty.players = val"
                    />
                    <players-tag-list
                        v-else
                        :players="value.players"
                    />
                </div>
            </form>
        </template>
        <template #actions>
            <div v-if="isEdited" class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full sm:ml-3 sm:w-auto">
                    <btn @click.native="updateDuty" class="w-full justify-center" type="primary" >
                        {{ $t('app.save') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$emit('close');isEdited = false" class="w-full justify-center" type="secondary" >
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
            <div v-else class="hidden"></div>
        </template>
    </modal>
</template>

<script>
    import modal from "../modal";
    import MySelect from "../select";
    import btn from "../btn";
    import gql from 'graphql-tag';
    import WysiwygEditor from "./wysiwygEditor";
    import VueDateTime from "./VueDateTime";
    import PlayersSelector from "./playersSelector";
    import playersTagList from "./playersTagList";
    import {isEmpty} from "../../utils";
    export default {
        components: {
            PlayersSelector,
            WysiwygEditor,
            modal,
            MySelect,
            btn,
            VueDateTime,
            playersTagList
        },
        props: {
            open: false,
            value: {
                type: Object,
                default() {
                    return {
                        start: new Date(),
                        end: new Date()
                    }
                }
            }
        },
        computed: {
          startDate: {
              get() {
                  if (this.value.start instanceof Date) {
                      return this.value.start.toISOString()
                  }
              },
              set(v) {
                  this.editedDuty.start = new Date(v)
              }
          },
            endDate: {
              get() {
                  if (this.value.end instanceof Date) {
                      return this.value.end.toISOString()
                  }
              },
              set(v) {
                  this.editedDuty.end = new Date(v)
              }
          },
          isCoach() {
              return this.$store.state.user.member.role === 'COACH'
          }
        },
        data() {
            return {
                editedDuty: {},
                isEdited: false
            }
        },
        methods: {
            async updateDuty() {

                if (isEmpty(this.editedDuty)) return

                try {
                    if (this.value.id) {
                        await this.$api.mutate({
                            mutation: gql`
                                mutation dutyUpdate($dutyId: ID!, $duty: DutyInput!) {
                                    dutyUpdate(dutyId: $dutyId, duty: $duty)
                                }
                            `,
                            variables: {
                                dutyId: this.value.id,
                                duty: this.editedDuty
                            }
                        })

                        this.$toast.success(this.$t('calendar.event.updateSuccess'))
                    } else {
                        await this.$api.mutate({
                            mutation: gql`
                            mutation dutyCreate($seasonId: ID!, $duty: DutyInput!) {
                                dutyCreate(seasonId: $seasonId, duty: $duty)
                            }
                        `,
                            variables: {
                                seasonId: this.$store.state.team.season.id,
                                duty: this.editedDuty
                            }
                        })

                        this.$toast.success(this.$t('calendar.event.createSuccess'))
                    }
                    Object.assign(this.$data, this.$options.data())
                    this.$emit('update')
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>