<template>
    <div class="bg-default shadow-lg overflow-hidden">
        <div class="flex justify-between px-4 py-5 border-b border-secondary sm:px-6 items-center">
            <h3 class="text-lg leading-6 text-primary">
                {{ $t('calendar.event.comments') }}
            </h3>
            <btn
                type="app-primary"
                @click.native="open = true"
            >
                <font-awesome-icon class="self-center mr-2" icon="comment" size="lg" />
                <span>{{ $t('calendar.addEventComment.cta') }}</span>
            </btn>
        </div>
        <div>
            <div
                v-if="open"
                class="px-4 py-5 border-b border-ternary"
            >
                <wysiwyg-editor id="newComment" v-model="newComment" />
                <btn
                    class="mt-2"
                    @click.native="addComment"
                    type="app-primary"> {{ $t('app.save')
                }}</btn>
            </div>
            <div v-for="{ author, message, created } in comments" class="px-4 py-5 w-full border-b border-ternary">
                <p class="text-primary">{{ author.user ? author.user.fullname : author.nickname }} - <span class="text-sm italic text-secondary">{{ (new Date(created)).toLocaleString() }}</span></p>
                <div
                    class="px-4 py-5 comment-message text-primary"
                    v-html="message"
                />
            </div>
        </div>
    </div>
</template>
<script>
    import gql from 'graphql-tag'
    import Btn from "../btn";
    import WysiwygEditor from "./wysiwygEditor";
    export default {
        components: {WysiwygEditor, Btn},
        props: {
          comments: {
              type: Array,
              default() {
                  return []
              }
          },
          eventId: {
              type: Number,
              required: true
          }
        },
        data() {
            return {
                open: false,
                newComment: ''
            }
        },
        methods: {
            async addComment() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                            mutation eventAddComment($eventId: ID!, $author: ID!, $message: String!) {
                                eventAddComment(eventId: $eventId, author: $author, message: $message) {
                                    id
                                }
                            }
                        `,
                        variables: {
                            eventId: this.eventId,
                            author: this.$store.state.user.member.id,
                            message: this.newComment
                        }
                    })
                    Object.assign(this.$data, this.$options.data())
                    await this.$parent.$apollo.queries.eventComments.refetch()
                    this.$toast.success(this.$t('calendar.addEventComment.successMessage'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }

    }
</script>

<style>
    .comment-message a {
        @apply underline text-info cursor-pointer;
    }

    .comment-message h1 {
        @apply text-xl
    }

    .comment-message h2 {
        @apply text-lg
    }

    .comment-message h3 {
        @apply text-base
    }

    .comment-message p {
        @apply text-sm
    }

    .comment-message ul {
        @apply list-disc;
    }

    .comment-message ol {
        @apply list-decimal;
    }

    .comment-message ul, .comment-message ol {
        @apply my-1 mx-4;
    }
</style>