<template>
    <div class="bg-default shadow-lg overflow-hidden">
        <div class="px-4 py-5 border-b border-secondary sm:px-6">
            <h3 class="text-lg leading-6 text-primary">
                {{ eventData.title }}
            </h3>
        </div>
        <div>
            <dl>
                <div class="border-b border-ternary px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">
                    <div class="py-1">
                        <dt class="leading-5 text-md uppercase font-light text-primary pb-1">
                            {{ $t('calendar.event.title') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <input
                                v-model="editedEvent.title"
                                :aria-label="$t('calendar.event.title')"
                                :name="$t('calendar.event.title')"
                                type="text"
                                :disabled="disabled"
                                class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                                :placeholder="$t('calendar.event.title')"
                            />
                        </dd>
                    </div>
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.type') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <myselect
                                class="w-1/3"
                                v-model="eventType"
                                :options="eventTypes"
                                :disabled="disabled"
                            />
                        </dd>
                    </div>
                </div>
                <div class="border-b border-ternary px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.allDay') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <input
                                v-model="editedEvent.allDay"
                                type="checkbox"
                                :disabled="disabled"
                            />
                        </dd>
                    </div>
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.meetingTime') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <div class="md:w-1/2">
                                <VueDateTime
                                    input-id="event-meeting-time"
                                    v-model="editedEvent.meetingTime"
                                    :disabled="disabled"
                                />
                            </div>
                        </dd>
                    </div>
                </div>
                <div class="border-b border-ternary px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.start') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <div class="md:w-1/2">
                                <VueDateTime
                                    input-id="event-start"
                                    v-model="editedEvent.start"
                                    :disabled="disabled"
                                />
                            </div>
                        </dd>
                    </div>
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.end') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <div class="md:w-1/2">
                                <VueDateTime
                                    input-id="event-end"
                                    v-model="editedEvent.end"
                                    :disabled="disabled"
                                />
                            </div>
                        </dd>
                    </div>
                </div>
                <div class="border-b border-ternary px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.place') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <input
                                v-model="editedEvent.place"
                                :aria-label="$t('calendar.event.place')"
                                :name="$t('calendar.event.place')"
                                type="text"
                                :disabled="disabled"
                                class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                                :placeholder="$t('calendar.event.place')"
                            />
                        </dd>
                    </div>
                </div>
                <div class="border-b border-ternary px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.notes') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <wysiwyg-editor
                                id="event-notes"
                                v-if="!disabled"
                                v-model="editedEvent.notes"
                            />
                            <div
                                v-else-if="editedEvent.notes && editedEvent.notes !== ''"
                                class="wysiwyg-html bg-ternary px-3 py-2"
                                v-html="editedEvent.notes"
                            />
                        </dd>
                    </div>
                </div>
                <div class="px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">
                    <div class="py-1">
                        <dt class="text-md uppercase font-light leading-5 text-primary pb-1">
                            {{ $t('calendar.event.lineup') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <div class="bg-transparent flex flex-wrap">
                                <players-selector
                                    v-if="!disabled"
                                    :value="lineupMemberIds"
                                    @input="(newLineup) => editedEvent.lineup = newLineup"
                                />
                                <players-tag-list
                                    v-else
                                    :players="editedEvent.lineup.map(lineup => {
                                        return { isAbsent: lineup.isAbsent, ...lineup.member }
                                    })"
                                />
                            </div>
                        </dd>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</template>

<script>
    import VueDateTime from "./VueDateTime";
    import WysiwygEditor from "./wysiwygEditor";
    import playersSelector from "./playersSelector";
    import PlayersTagList from "./playersTagList";
    import myselect from "../select"
    import {EventTypeEnum} from "../../enums/EventTypeEnum";

    export default {
        name: 'eventDetail',
        components: {
            PlayersTagList,
            VueDateTime,
            WysiwygEditor,
            playersSelector,
            myselect
        },
        props: {
            eventData: {
                type: Object,
                required: true
            },
            disabled: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                editedEvent: null
            }
        },
        created() {
            this.editedEvent = {
                title: this.eventData.title,
                notes: this.eventData.notes,
                place: this.eventData.place,
                allDay: this.eventData.allDay,
                start: this.eventData.start,
                end: this.eventData.end,
                meetingTime: this.eventData.meetingTime,
                type: this.eventData.type,
                lineup: this.eventData.lineup
            }
        },
        computed: {
            eventType: {
                get() {
                    if (this.editedEvent.type) {
                        return this.$t(`enums.eventTypes.${this.editedEvent.type}`)
                    }

                    if (this.eventData.type) {
                        return this.$t(`enums.eventTypes.${this.eventData.type}`)

                    }

                    return this.$t('app.select')
                },
                set(type) {
                    this.$set(this.editedEvent, 'type', type)
                }
            },
            eventTypes(){
                return Object.keys(EventTypeEnum).map(evenTypeKey => {
                    return {
                        value: evenTypeKey,
                        label: this.$t(`enums.eventTypes.${evenTypeKey}`)
                    }
                })
            },
            lineupMemberIds() {
                return this.eventData.lineup.map(lineup => lineup.member.id)
            }
        }
    }
</script>