<template>
    <div >
        <loader
            v-if="loading"
            :fixed="true"
            :background="true"
        />
        <FullCalendar
                ref="fullCalendar"
                defaultView="dayGridMonth"
                :plugins="calendarPlugins"
                :locales="locales"
                locale="cs"
                :events="eventsAndDuties"
                :header="{
                    left: 'prev,next today createDuty',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                }"
                :custom-buttons="customButtons"
                :first-day="1"
                :nav-links="true"
                :selectable="true"
                :select-mirror="true"
                :event-background-color="eventDefaultColor"
                :show-non-current-dates="true"
                @select="(date) => $emit('dateSelect', date)"
                @eventClick="(data) => $emit('eventClick', data.event)"
                @eventDrop="(data) => $emit('eventDrop', data.event)"
                @eventResize="(data) => $emit('eventResize', data.event)"
                @datesRender="(data) => $emit('datesRender', data)"
        />
    </div>

</template>

<script>
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import interactionPlugin from '@fullcalendar/interaction'
    import timeGridPlugin from '@fullcalendar/timegrid'
    import csLocale from '@fullcalendar/core/locales/cs';
    import Loader from "../loader";

    export default {
        props: {
            events: {
                type: Array,
                default() {
                    return []
                }
            },
            duties: {
                type: Array,
                default() {
                    return []
                }
            },
            loading: {
                type: Boolean,
                default: false
            }
        },
        components: {
            Loader,
            FullCalendar // make the <FullCalendar> tag available
        },
        created() {
            this.eventDefaultColor = getComputedStyle(document.querySelector('.theme-light'))
                .getPropertyValue('--color-accent-dark');

            this.dutyColor = getComputedStyle(document.querySelector('.theme-light'))
                .getPropertyValue('--color-warning');
        },
        computed: {
            eventsAndDuties() {
                const duties = this.duties.map(duty => {
                    return {
                        allDay: true,
                        editable: true,
                        backgroundColor: this.dutyColor,
                        ...duty
                    }
                })

                const events = this.events.map(event => {
                    return {
                        editable: true,
                        ...event
                    }
                })

                return [
                    ...events,
                    ...duties
                ]
            },
            getCurrentCalendarDate() {
                return this.$refs.fullCalendar.$options.calendar.getDate()
            }
        },
        data() {
            return {
                calendarPlugins: [ dayGridPlugin, interactionPlugin, timeGridPlugin ],
                eventDefaultColor: 'blue',
                dutyColor: 'orange',
                locales: this.$i18n.locale === 'en' ? [] : [csLocale],
                customButtons: {
                    createDuty: {
                        text: this.$t('calendar.duty.create'),
                        click: () => this.$emit('dutyCreate')
                    }
                }
            }
        }
    }
</script>