<template>
    <div @click="$emit('select')" class="md:flex bg-default shadow-md p-6 md:space-x-4 cursor-pointer hover:bg-ternary transition ease-in-out duration-150">
        <img
            class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0"
            src="https://images.unsplash.com/photo-1505503693641-1926193e8d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        />
        <div class="text-center md:text-left">
            <h2 class="text-lg text-primary font-bold space-x-2">
                <template v-if="member.nickname">
                    <span>{{ member.nickname }}</span>
                </template>
                <template v-else>
                    <span>{{ member.user.fullname }}</span>
                </template>
                <font-awesome-icon v-if="member.isUnable" icon="user-injured" />
            </h2>
            <div class="text-base text-primary font-light">
                <template v-if="member.role === RoleEnum.PLAYER">
                    {{ member.position ? $t(`enums.positionTypes.${member.position}`) : '' }}
                </template>
                <template v-else>
                    {{ $t(`enums.memberRoles.${member.role}`) }}
                </template>
            </div>
            <div class="text-base text-primary font-light">
                <template v-if="!member.user">
                    <p class="text-md leading-5 text-error italic">
                        {{ $t('team.memberHasNoAccount') }}
                    </p>
                </template>
                <template v-else>
                    <p class="text-md leading-5 text-primary">
                        {{ member.user.email }}
                    </p>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import btn from "../btn";
    import {RoleEnum} from '../../enums/RoleEnum'

    export default {
        name: 'member-card',
        components: {
            btn
        },
        props: {
            member: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                RoleEnum: RoleEnum
            }
        }
    }
</script>