<template>
    <div class="bg-default shadow-md overflow-hidden">
        <div class="px-4 py-5 sm:px-6 flex justify-between">
            <div class="space-y-1">
                <h3 class="text-lg uppercase leading-6 font-light text-accent-dark">
                    {{ title }}
                </h3>
                <p v-if="subtitle" class="max-w-2xl text-sm leading-5 text-primary">
                    {{ subtitle }}
                </p>
                <p class="text-sm leading-5 text-primary space-x-1" v-if="value.isUnable">
                    <font-awesome-icon icon="user-injured"/>
                    <span>{{ $t('member.isUnable') }}</span>
                </p>
            </div>
            <div>
                <p v-if="!hasUser" class="mt-1 max-w-2xl text-sm leading-5 text-error italic">
                    {{ $t('team.memberHasNoAccount') }}
                </p>
            </div>
        </div>
        <div>
            <dl>
                <div v-if="hasUser" class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('user.name') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <input
                            v-model="editedMember.user.name"
                            :aria-label="$t('user.name')"
                            :name="$t('user.name')"
                            type="text"
                            :disabled="disabled"
                            class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-secondary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('user.name')"
                        />
                    </dd>
                </div>
                <div v-if="hasUser" class="bg-default px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('user.surname') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <input
                            v-model="editedMember.user.surname"
                            :aria-label="$t('user.surname')"
                            :name="$t('user.surname')"
                            type="text"
                            :disabled="disabled"
                            class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-secondary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('user.surname')"
                        />
                    </dd>
                </div>
                <div v-if="hasUser" class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('user.email') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <input
                            v-model="editedMember.user.email"
                            :aria-label="$t('user.email')"
                            :name="$t('user.email')"
                            type="email"
                            disabled
                            required
                            class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-secondary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('user.email')"
                        />
                    </dd>
                </div>
                <div class="bg-default px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('member.nickname') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <input
                            v-model="editedMember.nickname"
                            :aria-label="$t('member.nickname')"
                            :name="$t('member.nickname')"
                            type="text"
                            :disabled="disabled"
                            class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-secondary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('member.nickname')"
                        />
                    </dd>
                </div>
                <div v-if="!isCoach" class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('member.shirtNumber') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <input
                            v-model.number="editedMember.shirtNumber"
                            :aria-label="$t('member.shirtNumber')"
                            :name="$t('member.shirtNumber')"
                            type="number"
                            :disabled="disabled"
                            class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-secondary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('member.shirtNumber')"
                        />
                    </dd>
                </div>
                <div v-if="!isCoach" class="bg-default px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('member.position') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <MySelect
                            id="member-role"
                            class="w-1/4"
                            v-model="memberPosition"
                            :options="playerPositions"
                            position="right"
                            :disabled="disabled"
                        />
                    </dd>
                </div>
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm leading-5 uppercase font-light text-primary">
                        {{ $t('member.documents') }}
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                        <ul class="border border-secondary">
                            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                                <div class="w-0 flex-1 flex items-center">
                                    <svg class="flex-shrink-0 h-5 w-5 text-primary" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-2 flex-1 w-0 truncate">
                                      vysvedceni.pdf
                                    </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-accent-dark hover:text-accent-light transition duration-150 ease-in-out">
                                        Download
                                    </a>
                                </div>
                            </li>
                            <li class="border-t border-secondary pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                                <div class="w-0 flex-1 flex items-center">
                                    <svg class="flex-shrink-0 h-5 w-5 text-primary" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-2 flex-1 w-0 truncate">
                                      coverletter_back_end_developer.pdf
                                    </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-accent-dark hover:text-accent-light transition duration-150 ease-in-out">
                                        Download
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</template>

<script>
    import {PositionEnum} from "../../enums/PositionEnum";
    import MySelect from '../select'
    import eventDetail from "./eventDetail";
    import {RoleEnum} from "../../enums/RoleEnum";
    export default {
        name: 'memberDetail',
        components: {
            MySelect
        },
        props: {
            title: {
                type: String,
                default() {
                    return this.$t('member.basicInfo')
                }
            },
            subtitle: {
                type: String,
                default() {
                    return null
                }
            },
            disabled: {
                type: Boolean,
                default: true
            },
            value: {
                type: Object,
                required: true
            }
        },
        created() {
            this.editedMember = {
                role: this.value.role,
                position: this.value.position,
                isUnable: this.value.isUnable,
                nickname: this.value.nickname,
                shirtNumber: this.value.shirtNumber,
                user: this.value.user ? {
                    name: this.value.user.name,
                    surname: this.value.user.surname,
                    email: this.value.user.email,
                } : null
            }
        },
        data() {
          return {
              editedMember: null
          }
        },
        computed: {
            hasUser() {
                return this.editedMember ? !!this.editedMember.user : false
            },
            memberPosition: {
                get() {
                    if (this.editedMember.position) {
                        return this.$t(`enums.positionTypes.${this.editedMember.position}`)
                    }

                    return this.$t('app.select')
                },
                set(pos) {
                    this.editedMember.position = pos
                }
            },
            playerPositions(){
             return Object.keys(PositionEnum).map(positionKey => {
                 return {
                     value: positionKey,
                     label: this.$t(`enums.positionTypes.${positionKey}`)
                 }
             })
            },
            isCoach() {
                return this.editedMember.role === RoleEnum.COACH
            }
        }
    }
</script>