<template>
    <div class="flex flex-row items-center">
        <diV
            v-for="player in players"
            class="text-sm px-2 py-1 m-1"
            :class="[ player.completed ? 'bg-success text-default' : color, player.isAbsent ? 'bg-warning text-default' : color ]"
            :key="player.id"
        >
            <font-awesome-icon v-if="player.completed" icon="check" />
            <font-awesome-icon v-if="player.isAbsent" icon="times-circle" />
            {{ player.user ? player.user.fullname : player.nickname }}
        </diV>
    </div>
</template>

<script>
    export default {
        props: {
            players: {
                type: Array,
                default() {
                    return []
                }
            },
            color: {
                type: String,
                default: 'bg-ternary'
            }
        }
    }
</script>