<template>
    <modal :open="open" @close="$emit('close')">
        <template #body>
            <h3 class="w-full text-primary text-md sm:text-xl ">{{ $t('playerStatistics.add') }}</h3>
            <form @submit.prevent="addPlayersStatistics" class="mt-8">
                <!-- MINUTES PLAYED -->
                <div class="flex flex-col">
                    <label class="mb-1 uppercase text-md font-light">{{ $t('playerStatistics.minutesPlayed') }}</label>
                    <input
                        v-model.number="editedPlayerStatistics.minutesPlayed"
                        :aria-label="$t('playerStatistics.minutesPlayed')"
                        :name="$t('playerStatistics.minutesPlayed')"
                        type="number"
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('playerStatistics.minutesPlayed')"
                    />
                </div>
                <!-- GOALS SCORED -->
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 uppercase text-md font-light">{{ $t('playerStatistics.goalsScored') }}</label>
                    <input
                        v-model.number="editedPlayerStatistics.goalsScored"
                        :aria-label="$t('playerStatistics.goalsScored')"
                        :name="$t('playerStatistics.goalsScored')"
                        type="number"
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('playerStatistics.goalsScored')"
                    />
                </div>
                <!-- ASSISTS -->
                <div class="mt-6 flex flex-col">
                    <label class="mb-1 uppercase text-md font-light">{{ $t('playerStatistics.assists') }}</label>
                    <input
                        v-model.number="editedPlayerStatistics.assists"
                        :aria-label="$t('playerStatistics.assists')"
                        :name="$t('playerStatistics.assists')"
                        type="number"
                        class="appearance-none rounded-none bg-default relative block w-full px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('playerStatistics.assists')"
                    />
                </div>
            </form>
        </template>
        <template #actions>
            <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full sm:ml-3 sm:w-auto">
                    <btn @click.native="addPlayersStatistics" class="w-full justify-center" type="primary" >
                        {{ $t('app.save') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$emit('close')" class="w-full justify-center" type="secondary" >
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
        </template>
    </modal>
</template>

<script>
    import gql from 'graphql-tag'
    import modal from "../modal";
    import btn from "../btn";
    import playerStatistics from "./playerStatistics";
    export default {
        components: {
            modal,
            btn
        },
        props: {
            open: {
                type: Boolean,
                default: false
            },
            value: {
                type: Object | null,
                required: true
            },
            playerId: {
                type: Number,
                required: true
            }
        },
        watch: {
            value: {
                immediate: true,
                deep: true,
                handler(playerStatistics) {
                    if (!playerStatistics) {
                        this.editedPlayerStatistics = {
                            minutesPlayed: 0,
                            goalsScored: 0,
                            assists: 0
                        }
                    } else {
                        this.editedPlayerStatistics = {
                            id: playerStatistics.id,
                            minutesPlayed: playerStatistics.minutesPlayed,
                            goalsScored: playerStatistics.goalsScored,
                            assists: playerStatistics.assists
                        }

                    }
                }
            }
        },
        data() {
          return {
              editedPlayerStatistics: {}
          }
        },
        methods: {
            async addPlayersStatistics() {

                try {
                    await this.$api.mutate({
                        mutation: gql`
                            mutation playerStatisticsUpdate($seasonId: ID!, $memberId: ID!, $playerStatistics: PlayerStatisticsInput!) {
                                playerStatisticsUpdate(seasonId: $seasonId, memberId: $memberId, playerStatistics: $playerStatistics)
                            }
                        `,
                        variables: {
                            seasonId: this.$store.state.team.season.id,
                            memberId: this.playerId,
                            playerStatistics: this.editedPlayerStatistics
                        }
                    })
                    this.$toast.success(this.$t('playerStatistics.addSuccess'))
                    this.$emit('updated')
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }

            }
        }
    }
</script>