<template>
    <div>
        <loader v-if="loading" />
        <div v-else-if="playerStatistics" class="flex flex-col bg-default shadow-md overflow-hidden px-4 py-5 sm:px-6">
            <p class="text-lg font-light uppercase text-accent-dark mb-6">{{ $t('team.season') }}: {{ playerStatistics.season.name }}</p>
            <div class="sm:grid sm:grid-cols-3 sm:gap-12">
                <!-- MINUTES PLAYED -->
                <div class="bg-ternary overflow-hidden shadow-md transform transition-all sm:max-w-lg w-full">
                    <div class="p-4 sm:p-6">
                        <div class="sm:flex sm:items-start">
                            <div class="text-left space-y-4 sm:mt-0 sm:ml-4">
                                <p class="text-base font-medium">{{ $t('playerStatistics.minutesPlayed') }}</p>
                                <p class="text-4xl font-black leading-5 text-primary">
                                    {{ playerStatistics.minutesPlayed }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- GOALS SCORED -->
                <div class="bg-ternary overflow-hidden shadow-md transform transition-all sm:max-w-lg w-full">
                    <div class="p-4 sm:p-6">
                        <div class="sm:flex sm:items-start">
                            <div class="text-left sm:mt-0 sm:ml-4">
                                <div class="text-left space-y-4 sm:mt-0 sm:ml-4">
                                    <p class="text-base font-medium">{{ $t('playerStatistics.goalsScored') }}</p>
                                    <p class="text-4xl font-black leading-5 text-primary">
                                        {{ playerStatistics.goalsScored }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ASSISTS -->
                <div class="bg-ternary overflow-hidden shadow-md transform transition-all sm:max-w-lg w-full">
                    <div class="p-4 sm:p-6">
                        <div class="sm:flex sm:items-start">
                            <div class="text-left sm:mt-0 sm:ml-4">
                                <div class="text-left space-y-4 sm:mt-0 sm:ml-4">
                                    <p class="text-base font-medium">{{ $t('playerStatistics.assists') }}</p>
                                    <p class="text-4xl font-black leading-5 text-primary">
                                        {{ playerStatistics.assists }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-else
            class="text-xl text-primary font-bold mx-auto"
        >
            {{ $t('playerStatistics.notYet') }}
        </div>
        <player-statistics-modal
            :value="playerStatistics"
            :open="playerStatisticsModalOpen"
            :player-id="playerId"
            @close="playerStatisticsModalOpen = false"
            @updated="handleStatisticsUpdate"
        />
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import loader from "../loader";
    import playerStatisticsModal from "./playerStatisticsModal";
    export default {
        name: 'player-statistics',
        components: {
            loader,
            playerStatisticsModal
        },
        props: {
          playerId: {
              type: Number,
              required: true
          }
        },
        apollo: {
          playerStatistics: {
              manual: true,
              query: gql`
                query playerStatistics($seasonId: ID!, $memberId: ID!) {
                    playerStatistics(seasonId: $seasonId, memberId: $memberId) {
                        season {
                            name
                        }
                        id
                        goalsScored
                        minutesPlayed
                        assists
                    }
                }
            `,
              variables() {
                  return {
                      seasonId: this.$store.state.team.season.id,
                      memberId: this.playerId
                  }
              },
              result({ data, loading }) {
                  if (!loading) {
                      this.playerStatistics = data.playerStatistics
                  }
              },
              context() {
                  return {
                      headers: {
                          'X-Tms-Member': this.$store.state.user.member.id
                      }
                  }
              }
          }
        },
        async created() {
            await this.fetchPlayerStatistics()
        },
        data() {
            return {
                loading: false,
                playerStatistics: null,
                playerStatisticsModalOpen: false

            }
        },
        methods: {
            async fetchPlayerStatistics() {
                this.loading = true
                await this.$apollo.queries.playerStatistics.refetch()
                setTimeout(() => {
                    this.loading = false
                }, 300)
            },
            async handleStatisticsUpdate() {
                this.playerStatisticsModalOpen = false
                await this.fetchPlayerStatistics()
            }
        }
    }
</script>