<template>
    <div class="w-full flex flex-col">
        <btn
            class="lg:w-1/2"
            type="app-secondary"
            @click.native="open = !open"
        >
            {{ $t('app.playersSelector') }}
        </btn>
        <div class="px-3 py-2 sm:grid sm:grid-cols-3 sm:gap-4" v-if="open">
            <div class="text-secondary font-light italic" v-if="players.length <= 0">{{ $t('calendar.event.noPlayersInTeam') }}</div>
            <div v-else class="flex flex-row">
                <input
                    type="checkbox"
                    v-model="selectAll"
                >
                <span class="pl-1">{{ $t('app.selectAll') }}</span>
            </div>
            <div
                v-for="player in players"
            >
                <div class="flex flex-row">
                    <input
                        :id="player.id"
                        :value="player.id"
                        type="checkbox"
                        v-model="selectedPlayers"
                    >
                    <span class="pl-1">{{ player.user ? player.user.fullname : player.nickname}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import gql from 'graphql-tag'
    import Btn from "../btn";
    export default {
        components: {Btn},
        props: {
            // if lineup already set, then this includes ids of those players who are in lineup already
          value: {
            type: Array,
            default() {
              return []
            }
          }
        },
        watch: {
          selectAll(nw) {
              if (nw) {
                  this.selectedPlayers = this.players.map(player => player.id)
              } else {
                  this.selectedPlayers = []
              }
          },
          selectedPlayers(nw) {
            this.$emit('input', nw)
          }
        },
        data() {
            return {
                open: false,
                selectedPlayers: [],
                selectAll: false,
                players: []
            }
        },
        async created() {
            try {
                this.players = await this.$api.query({
                    query: gql`
                        query members($memberRole: RoleEnum) {
                            members(memberRole: $memberRole) {
                                id
                                nickname
                                user {
                                    id
                                    fullname
                                }
                            }
                        }
                    `,
                    variables: {
                        memberRole: 'PLAYER'
                    }
                })
            } catch(e) {
                this.$toast.error(this.$t(`error.${e.message}`))
            }
          this.selectedPlayers = [...this.value]
        }
    }
</script>