<template>
    <div class="border-b border-ternary px-4">
        <button
            v-for="(tab) in tabs"
            class="bg-transparent border-accent-light focus:outline-none p-4 transition ease-in-out duration-150"
            :class="[ tab.id === value ? activeClass : nonActiveClass]"
            @click="$emit('input', tab.id)"
        >
            <font-awesome-icon v-if="tab.icon" :icon="tab.icon" />
            <span v-if="tab.label" class="pl-2">{{ tab.label }}</span>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            value: null,
            tabs: {
                type: Array,
                default() {
                    return []
                }
            }
        },
        data() {
            return {
                activeClass: 'border-b-2 text-accent-dark',
                nonActiveClass: 'text-primary'
            }
        }
    }
</script>