<template>
    <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow-md overflow-hidden border-b border-ternary">
                <table class="min-w-full">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">
                            {{ $t('task.name') }}
                        </th>
<!--                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">-->
<!--                            {{ $t('task.description') }}-->
<!--                        </th>-->
<!--                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">-->
<!--                            {{ $t('task.completed') }}-->
<!--                        </th>-->
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50 text-left text-xs leading-4 font-medium text-primary uppercase tracking-wider">
                            {{ $t('task.players') }}
                        </th>
                        <th class="px-6 py-3 border-b border-ternary bg-gray-50"></th>
                    </tr>
                    </thead>
                    <tbody class="bg-default">
                        <tr v-for="task in tasks" :key="task.id">
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-ternary">
                                <div class="flex items-center">
                                    <div>
                                        <div class="text-sm leading-5 font-medium text-primary">{{ task.name }}</div>
                                    </div>
                                </div>
                            </td>
<!--                            <td class="px-6 py-4 whitespace-no-wrap border-b border-ternary">-->
<!--                              <span-->
<!--                                :class="[-->
<!--                                    task.completed ?-->
<!--                                     'px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-success text-default' :-->
<!--                                     'px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-error text-default']"-->
<!--                              >-->
<!--                                {{ task.completed ? $t('task.completed') : $t('task.notCompleted') }}-->
<!--                              </span>-->
<!--                            </td>-->
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-ternary text-sm leading-5 text-primary">
                                <players-tag-list :players="taskAssignedMembers(task)" />

                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap text-right border-b border-ternary text-sm leading-5 font-medium">
                                <btn
                                    type="app-primary"
                                    @click.native="$router.push(localePath({ name: 'app-task', params: { task: task.id }}))"
                                >
                                    <font-awesome-icon
                                        icon="arrow-alt-circle-right"
                                    />
                                </btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import PlayersTagList from "./playersTagList";
    import btn from "../btn";
    export default {
        components: {
            PlayersTagList,
            btn
        },
        props: {
            tasks: {
                type: Array,
                default() {
                    return []
                }
            }
        },
        methods: {
            taskAssignedMembers(task) {
                return task.assignedMembers.map(m => {
                    return {
                        nickname: m.member.nickname,
                        user: m.member.user,
                        completed: m.completed
                    }
                })
            }
        }
    }
</script>