<template>
    <div class="bg-default shadow-lg overflow-hidden">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg uppercase font-light leading-6 text-accent-dark">
                {{ value.name }}
            </h3>
        </div>
        <div>
            <dl>
                <div class="px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">

                    <!--NAME-->
                    <div class="py-1">
                        <dt class="leading-5 text-md text-primary pb-1">
                            {{ $t('task.name') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <input
                                :value="value.name"
                                @change="({ target }) => editedTask.name = target.value"
                                :aria-label="$t('task.name')"
                                :name="$t('task.name')"
                                type="text"
                                :disabled="disabled"
                                class="appearance-none rounded-none relative block w-full md:w-1/2 px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                                :placeholder="$t('task.name')"
                            />
                        </dd>
                    </div>
                </div>
                <div class="border-b border-ternary px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-6">

                    <!-- DESCRIPTION -->
                    <div class="py-1">
                        <dt class="text-md leading-5 text-primary pb-1">
                            {{ $t('task.description') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <wysiwyg-editor
                                v-if="!disabled"
                                :value="value.description"
                                @input="(val) => editedTask.description = val"
                            />
                            <div
                                v-else-if="value.description && value.description !== ''"
                                class="wysiwyg-html bg-ternary px-3 py-2"
                                v-html="value.description"
                            />
                        </dd>
                    </div>

                    <!-- PLAYERS -->
                    <div class="py-1">
                        <dt class="text-md leading-5 text-primary pb-1">
                            {{ $t('task.players') }}
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-primary sm:mt-0 sm:col-span-2">
                            <div class="bg-transparent flex flex-wrap">
                                <players-selector
                                    v-if="!disabled"
                                    :value="value.assignedMembers.map(({ member }) => member.id)"
                                    @input="(newMembers) => editedTask.members = newMembers"
                                />
                                <players-tag-list
                                    v-else
                                    :players="assignedMembers"
                                />
                            </div>
                        </dd>
                    </div>

                </div>
            </dl>
        </div>
    </div>
</template>

<script>
    import playersSelector from "./playersSelector";
    import playersTagList from "./playersTagList";
    import wysiwygEditor from "./wysiwygEditor";
    export default {
        components: {
          playersTagList,
          playersSelector,
          wysiwygEditor
        },
        props: {
            /**
             * Task data object
             */
            value: {
                type: Object,
                required: true
            },
            /**
             * if is detail in edit mode then disabled = false
             */
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                editedTask: {}
            }
        },
        computed: {
            assignedMembers() {
                return this.value.assignedMembers
                    .map(m => {
                        return {
                            nickname: m.member.nickname,
                            user: m.member.user,
                            completed: m.completed
                        }
                    })
            }
        }
    }
</script>