<template>
    <div class="flex flex-col">
        <div
            class="px-3 py-2 my-2 flex flex-row justify-between bg-ternary items-center"
            v-for="task in notCompletedTasks"
            :key="task.id"
        >
            <p class="text-base font-medium text-primary">{{ task.name }}</p>

            <div class="w-1/12 flex justify-around">
                <btn
                        type="app-primary"
                        @click.native="$emit('taskCompleted', task.id)"
                >
                    <font-awesome-icon icon="check" />
                </btn>
                <btn
                        type="app-primary"
                        @click.native="$router.push(localePath({ name: 'app-task', params: { task: task.id }}))"
                >
                    <font-awesome-icon
                            icon="arrow-alt-circle-right"
                    />
                </btn>
            </div>
        </div>
    </div>
</template>

<script>
    import Btn from "../btn";
    export default {
        components: {
            Btn
        },
        props: {
            tasks: {
                type: Array,
                default() {
                    return []
                }
            }
        },
        computed: {
            notCompletedTasks() {
                return this.tasks.filter(t => !t.assignedMembers[0].completed)
            }
        }
    }
</script>