<template>
    <div class="bg-ternary overflow-hidden shadow-xl transform transition-all sm:max-w-lg w-full">
        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
                <div class="text-left sm:mt-0 sm:ml-4">
                    <h3 class="text-lg leading-6 font-medium text-primary">
                        {{ team.name }}
                    </h3>
                    <div class="mt-2">
                        <p class="text-md leading-5 text-primary">
                            {{ $t(`enums.memberRoles.${team.memberRole}`) }}
                        </p>
                    </div>
                    <div class="mt-2">
                        <p class="text-md leading-5 text-primary">
                            {{ team.seasonName }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
              <span class="flex w-full sm:ml-3 sm:w-auto">
                  <btn @click.native="$emit('select')" class="w-full justify-center" type="primary">
                    {{ $t('switchTeam.chooseTeam')}}
                  </btn>
              </span>
        </div>
    </div>
</template>

<script>
    import btn from "../btn";
    export default {
        name: 'team-card',
        components: {
          btn
        },
        props: {
            team: {
                type: Object,
                default() {
                    return {
                        name: 'FK Dukla',
                        memberRole: 'Trener',
                        seasonName: 'Jaro 2019'
                    }
                }
            }
        }
    }
</script>