<template>
    <modal :open="open" @close="$emit('close')">
        <template #body>
            <h3 class="w-full text-primary text-lg sm:text-xl ">{{ $t('switchTeam.createTeam') }}</h3>
            <form @submit.prevent="createTeam" class="mt-8">
                <div class="shadow-sm">
                    <div>
                        <input
                            v-model="name"
                            :aria-label="$t('team.name')"
                            :name="$t('team.name')"
                            type="text"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('team.name')"
                        />
                    </div>
                </div>
            </form>
        </template>
        <template #actions>
            <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full sm:ml-3 sm:w-auto">
                    <btn @click.native="createTeam" class="w-full justify-center" type="primary" >
                        {{ $t('switchTeam.createTeam') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$emit('close')" class="w-full justify-center" type="secondary" >
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
        </template>
    </modal>
</template>

<script>
    import gql from 'graphql-tag'
    import modal from "../modal";
    import btn from "../btn";
    export default {
        components: {
            modal,
            btn
        },
        props: {
            open: {
                type: Boolean,
                default: false
            }
        },
        data() {
          return {
              name: ''
          }
        },
        methods: {
            async createTeam() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                        mutation createTeam($name: String!) {
                            createTeam(name: $name) {
                                id
                            }
                        }
                    `,
                        variables: {
                            name: this.name
                        }
                    })
                    Object.assign(this.$data, this.$options.data())
                    this.$emit('created')
                    this.$toast.success(this.$t('team.createSuccess'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }

            }
        }
    }
</script>