<template>
    <Datetime
        class="datetime-picker"
        :input-id="inputId"
        :disabled="disabled"
        input-class="w-full px-3 py-2 border border-primary placeholder-secondary disabled:border-transparent disabled:bg-ternary text-primary disabled:text-primary text-base"
        :type="type"
        :value="value"
        @input="(val) => $emit('input', val)"
        :phrases="{
            ok: 'OK',
            cancel: $t('app.cancel')
        }"
        :format="
            type === 'datetime' ?
            { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit'} :
            { year: 'numeric', month: 'long', day: 'numeric' }
        "
        :minute-step="5"
    />
</template>

<script>
    import { Datetime } from 'vue-datetime';
    import { Settings } from 'luxon'

    import 'vue-datetime/dist/vue-datetime.css'
    export default {
        components: {
            Datetime
        },
        props: {
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                type: String,
                default: null
            },
            type: {
                type: String,
                default: 'datetime'
            },
            inputId: {
                type: String,
                default: ''
            }
        },
        created() {
            Settings.defaultLocale = this.$i18n.locale
        }
    }
</script>

<style>
    .datetime-picker .vdatetime-popup__header,
    .datetime-picker .vdatetime-calendar__month__day--selected > span > span,
    .datetime-picker .vdatetime-calendar__month__day--selected:hover > span > span {
        @apply bg-primary;
    }

    .datetime-picker .vdatetime-year-picker__item--selected,
    .datetime-picker .vdatetime-time-picker__item--selected,
    .datetime-picker .vdatetime-popup__actions__button {
        @apply text-primary;
    }
</style>