<template>
    <div class="editor">
        <editor-menu-bar class="editor__menu-bar mb-1" :editor="editor" v-slot="{ commands, isActive, getMarkAttrs }">
            <div class="menubar flex flex-row flex-wrap">
                <btn @click.native.stop.stop="commands.heading({ level: 1 })" class="m-1" type="app-secondary" :active="isActive.heading({ level: 1 })">
                    <span class="self-center leading-none text-xs">H1</span>
                </btn>
                <btn @click.native.stop="commands.heading({ level: 2 })" class="m-1" type="app-secondary" :active="isActive.heading({ level: 2 })">
                    <span class="self-center leading-none text-xs">H2</span>
                </btn>
                <btn @click.native="commands.heading({ level: 3 })" class="m-1" type="app-secondary" :active="isActive.heading({ level: 3 })">
                    <span class="self-center leading-none text-xs">H3</span>
                </btn>
                <btn @click.native="commands.bold" type="app-secondary" class="m-1" :active="isActive.bold()">
                    <font-awesome-icon class="self-center" icon="bold" size="xs" />
                </btn>
                <btn @click.native="commands.italic" type="app-secondary" class="m-1" :active="isActive.italic()">
                    <font-awesome-icon class="self-center" icon="italic" size="xs" />
                </btn>
                <btn @click.native="commands.strike" type="app-secondary" class="m-1" :active="isActive.strike()">
                    <font-awesome-icon class="self-center" icon="strikethrough" size="xs" />
                </btn>
                <btn @click.native="commands.underline" type="app-secondary" class="m-1" :active="isActive.underline()">
                    <font-awesome-icon class="self-center" icon="underline" size="xs" />
                </btn>
                <btn @click.native.stop="commands.bullet_list" type="app-secondary" class="m-1" :active="isActive.bullet_list()">
                    <font-awesome-icon class="self-center" icon="list" size="xs" />
                </btn>
                <btn @click.native.stop="commands.ordered_list" type="app-secondary" class="m-1" :active="isActive.ordered_list()">
                    <font-awesome-icon class="self-center" icon="list-ol" size="xs" />
                </btn>

                <btn @click.native.stop="showLinkMenu(getMarkAttrs('link'))" type="app-secondary" class="m-1" :active="isActive.link()">
                    <font-awesome-icon class="self-center" icon="link" size="xs" />
                </btn>

                <btn @click.native.stop="commands.undo" class="m-1" type="app-secondary">
                    <font-awesome-icon class="self-center" icon="undo" size="xs" />
                </btn>
                <btn @click.native.stop="commands.redo" class="m-1" type="app-secondary">
                    <font-awesome-icon class="self-center" icon="redo" size="xs" />
                </btn>
            </div>
        </editor-menu-bar>

        <editor-menu-bubble class="menububble" :editor="editor" @hide="hideLinkMenu" v-slot="{ commands, menu }">
            <div
                    class="menububble absolute flex bg-primary text-default px-3 py-2 mb-2 transform -translate-x-32 transition duration-150 ease-in-out"
                    :class="[menu.isActive && linkMenuIsActive ? 'visible opacity-100' : 'invisible opacity-0']"
                    :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
            >

                <form class="menububble__form" @submit.prevent="setLinkUrl(commands.link, linkUrl)">
                    <input class="menububble__input bg-primary text-default placeholder-secondary" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput" @keydown.esc="hideLinkMenu"/>
                    <button class="menububble__button" @click="setLinkUrl(commands.link, null)" type="button">
                        <font-awesome-icon class="self-center" icon="times" size="lg" />
                    </button>
                </form>

            </div>
        </editor-menu-bubble>

        <div class="editor__separator border border-primary" />

        <editor-content class="editor__content mt-2 h-32 overflow-y-auto p-2" :editor="editor" />
    </div>
</template>

<script>
    import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble} from 'tiptap'
    import {
        Blockquote,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Italic,
        Link,
        Strike,
        Underline,
        History,
        Placeholder
    } from 'tiptap-extensions'
    import btn from "../btn";
    export default {
        components: {
            EditorContent,
            EditorMenuBar,
            EditorMenuBubble,
            btn
        },
        props: {
            value: {
                type: String,
                default: ''
            },
        },

        watch: {
            value(val) {
                if (this.editor && val !== this.value) {
                    this.editor.setContent(val, true)
                }
            }
        },
        mounted() {
            this.editor = new Editor({
                extensions: [
                    new Blockquote(),
                    new BulletList(),
                    new HardBreak(),
                    new Heading({ levels: [1, 2, 3] }),
                    new HorizontalRule(),
                    new ListItem(),
                    new OrderedList(),
                    new TodoItem(),
                    new TodoList(),
                    new Link(),
                    new Bold(),
                    new Italic(),
                    new Strike(),
                    new Underline(),
                    new History(),
                    new Placeholder({
                        emptyEditorClass: 'is-editor-empty',
                        emptyNodeClass: 'is-empty',
                        emptyNodeText: this.$t('calendar.event.notesPlaceholder'),
                        showOnlyWhenEditable: true,
                        showOnlyCurrent: true,
                    })
                ],
                onUpdate: ({ getHTML }) => {
                    this.handleInput(getHTML());
                },
            })
            this.editor.setContent(this.value)
        },
        data() {
            return {
                editor: null,
                linkUrl: null,
                linkMenuIsActive: false,
            }
        },
        beforeDestroy() {
            if (this.editor) {
                this.editor.destroy()
            }
        },
        methods: {
            handleInput(newValue) {
                this.$emit('input', newValue)
            },
            showLinkMenu(attrs) {
                this.linkUrl = attrs.href
                this.linkMenuIsActive = true
                this.$nextTick(() => {
                    this.$refs.linkInput.focus()
                })
            },
            hideLinkMenu() {
                this.linkUrl = null
                this.linkMenuIsActive = false
            },
            setLinkUrl(command, url) {
                command({ href: url })
                this.hideLinkMenu()
            }
        },
    }
</script>

<style>
    .editor__content ul {
        @apply list-disc;
    }

    .editor__content ol {
        @apply list-decimal;
    }

    .editor__content ul, .editor__content ol {
        @apply my-2 mx-4;
    }

    .editor__content [contenteditable] {
        @apply h-full outline-none;
    }

    .editor__content p.is-editor-empty:first-child::before {
        content: attr(data-empty-text);
        float: left;
        pointer-events: none;
        height: 0;
        font-style: italic;
    }

    .editor__content p.is-editor-empty:first-child::before {
        @apply text-secondary;
    }

    .editor__content a {
        @apply underline text-info cursor-pointer;
    }

    .editor__content h1 {
        @apply text-2xl
    }

    .editor__content h2 {
        @apply text-xl
    }

    .editor__content h3 {
        @apply text-lg
    }
</style>
