<template>
  <div class="flex z-10 h-screen w-full flex-col md:flex-row theme-light">
      <the-sidebar  />
      <main class="flex-1 flex overflow-hidden bg-default">
          <div class="flex-1 overflow-y-scroll p-8">
              <nuxt />
          </div>
      </main>

      <!-- Login modal when token expires -->
      <TheLockModal />
  </div>
</template>

<script>
    import TheSidebar from '~/components/layout/TheSidebar'
    import TheLockModal from '~/components/layout/TheLockModal'
    export default {
        middleware: ['appResolver'],
        components: {
          TheSidebar,
          TheLockModal
        }
    }
</script>