<template>
  <div class="relative bg-default overflow-hidden theme-light">
    <!-- Navbar -->
    <TheNavbar />

    <!-- Main body -->
    <nuxt />

    <TheLoginModal />
  </div>
</template>

<script>
  import TheLoginModal from '~/components/layout/TheLoginModal'
  import TheNavbar from "../components/layout/TheNavbar";

  export default {
    components: {
      TheLoginModal,
      TheNavbar
    }
  }
</script>