<template>
    <div class="max-w-screen-xl mx-auto theme-light">
        <div class="relative z-10 md:min-h-screen bg-default lg:max-w-2xl lg:w-full">
            <div class="pt-6 px-4 sm:px-6 pb-8 lg:px-8">
                <div class="w-full py-3 md:py-4">
                    <h1 class="text-4xl text-accent-dark">{{ errorTitle }}</h1>
                </div>
                <div class="w-full text-primary text-lg py-3 md:py-4">
                    {{ error.message }}
                </div>
                <div class="w-1/2 py-3 md:py-4">
                    <nuxt-link :to="localePath({name: 'index'})" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium text-default bg-accent-dark hover:bg-accent-light focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                        Go Home
                    </nuxt-link>
                </div>
            </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="images/default-bg.jpg" alt="pozadi" />
        </div>
    </div>
</template>

<script>
    // TODO translations, codes etc.
    export default {
        props: ['error'],
        layout: 'empty',
        computed: {
            errorTitle() {
                if (this.error.statusCode === 404) {
                    return 'Page not found'
                } else if (this.error.statusCode === 400) {
                    return 'Bad request'
                } else {
                    return 'An error occurred'
                }
            }
        }
    }
</script>