<template>
    <div class="relative bg-default overflow-hidden theme-light">
        <div class="max-w-screen-xl mx-auto">
            <div class="relative z-10 md:min-h-screen bg-default lg:max-w-2xl lg:w-full">
                <div class="pt-6 px-4 sm:px-6 pb-8 lg:px-8">
                    <!-- Navbar -->
                    <TheNavbar />

                    <!-- Main body -->
                    <nuxt />
                </div>

            </div>
            <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="/images/default-bg.jpg" alt="pozadi" />
            </div>
        </div>
        <TheLoginModal />
        <TheRegisterModal />
        <TheForgotPaswordModal />
    </div>
</template>

<script>
    import TheLoginModal from '~/components/layout/TheLoginModal'
    import TheRegisterModal from '~/components/layout/registration/TheRegisterModal'
    import TheNavbar from "../components/layout/TheNavbar";
    import TheForgotPaswordModal from "../components/layout/TheForgotPaswordModal";

    export default {
        components: {
            TheForgotPaswordModal,
            TheRegisterModal,
            TheLoginModal,
            TheNavbar
        }
    }
</script>