<template>
  <div class="mt-6">
    <transition name="fade">
      <full-calendar
          ref="fullCalendar"
          :events="events"
          :duties="duties"
          :loading="loading"
          @dateSelect="handleDateSelect"
          @eventClick="handleEventClick"
          @eventDrop="eventUpdate"
          @eventResize="eventUpdate"
          @dutyCreate="dutyModalOpen = true"
          @datesRender="handleNewDatesRender"
      />
    </transition>
    <create-event-modal
        :open="eventModalOpen"
        :initData="eventInitData"
        @close="eventModalOpen = false"
        @created="eventCreated"
    />

    <duty-modal
      :open="dutyModalOpen"
      :value="dutyInitData"
      @close="
        dutyModalOpen = false;
        dutyInitData = {
          start: new Date(),
          end: new Date()
        }
      "
      @update="dutyUpdated"
    />
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  import CreateEventModal from "../../components/app/createEventModal";
  import DutyModal from "../../components/app/dutyModal";
  import Loader from "../../components/loader";
  import { DateTime } from 'luxon'
  export default {
    components: {Loader, DutyModal, CreateEventModal},
    layout: 'app',
    apollo: {
      events: {
        manual: true,
        query: gql`
            query events($seasonId: ID!, $range: DateRangeInput) {
              events(seasonId: $seasonId, range: $range) {
                  id
                  title
                  type
                  allDay
                  start
                  end
                  lineup {
                    isAbsent
                    member {
                        id
                    }
                  }
              }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id,
            range: {
              start: DateTime.fromJSDate(new Date()).set({ day: 1 }).toISO(),
              end: DateTime.fromJSDate(new Date()).set({ day: DateTime.fromJSDate(new Date()).daysInMonth }).toISO(),
            }
          }
        },
        result({ data, loading}) {
          if (!loading) {
            this.events = data.events
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      },
      duties: {
        manual: true,
        query: gql`
            query duties($seasonId: ID!, $range: DateRangeInput) {
              duties(seasonId: $seasonId, range: $range) {
                  id
                  title
                  description
                  start
                  end
                  players {
                    id
                    nickname
                    user {
                      id
                      fullname
                    }
                  }
              }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id,
            range: {
              start: DateTime.fromJSDate(new Date()).set({ day: 1 }).toISO(),
              end: DateTime.fromJSDate(new Date()).set({ day: DateTime.fromJSDate(new Date()).daysInMonth }).toISO(),
            }
          }
        },
        result({ data, loading}) {
          if (!loading) {
            this.duties = data.duties
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      }
    },
    data() {
      return {
        loading: false,
        eventModalOpen: false,
        dutyModalOpen: false,
        eventInitData: {
          start: new Date(),
          end: new Date()
        },
        dutyInitData: {
          start: new Date(),
          end: new Date()
        },
        events: [],
        duties: []
      }
    },
    methods: {
      handleDateSelect({ allDay, start, end }) {
        this.eventInitData = {
          allDay,
          end,
          start
        }
        this.eventModalOpen = true
      },
      handleEventClick({ id, start, end, title, extendedProps }) {
        const { __typename } = extendedProps

        if (__typename === 'Event') {
          // router push to the event detail
          this.$router.push(this.localePath({ name: 'app-event', params: { event: id }}))
        } else if (__typename === 'Duty') {
          // open modal with duty
          this.dutyInitData = {
            id,
            title,
            start: new Date(start),
            end: new Date(end),
            ...extendedProps
          }
          this.dutyModalOpen = true
        }

      },
      async eventUpdate(event) {
        try {
          if (event.extendedProps.__typename === 'Event') {
            const { type, notes, place } = this.events.find((e) => e.id === parseInt(event.id))
            await this.$api.mutate({
              mutation: gql`
                mutation eventUpdate($eventId: ID!, $event: EventInput!) {
                    eventUpdate(eventId: $eventId, event: $event)
                }
            `,
              variables: {
                eventId: event.id,
                event: {
                  title: event.title,
                  start: event.start,
                  end: event.end,
                  allDay: event.allDay,
                  type,
                  notes,
                  place
                }
              }
            })
            this.$toast.success(this.$t('calendar.event.updateSuccess'))
          } else if (event.extendedProps.__typename === 'Duty') {
              const { description, players } = event.extendedProps
              await this.$api.mutate({
                mutation: gql`
                  mutation dutyUpdate($dutyId: ID!, $duty: DutyInput!) {
                      dutyUpdate(dutyId: $dutyId, duty: $duty)
                  }
              `,
                variables: {
                  dutyId: event.id,
                  duty: {
                    title: event.title,
                    start: event.start,
                    end: event.end,
                    description,
                    players: players.map(player => player.id)
                  }
                }
              })
              this.$toast.success(this.$t('calendar.duty.updateSuccess'))
          }
        } catch (e) {
          this.$toast.error(this.$t(`error.${e.message}`))
        }
      },
      async eventCreated() {
        await this.fetchEvents()
        this.eventModalOpen = false
      },
      async dutyUpdated() {
        await this.fetchDuties()
        this.dutyModalOpen = false
        this.dutyInitData = {
          start: new Date(),
          end: new Date()
        }
      },
      async fetchEvents(range) {
        if (range) {
          await this.$apollo.queries.events.refetch({
            range
          })
        } else {
          await this.$apollo.queries.events.refetch()
        }
      },
      async fetchDuties(range) {
        if (range) {
          await this.$apollo.queries.duties.refetch({
            range
          })
        } else {
          await this.$apollo.queries.duties.refetch()
        }
      },
      async handleNewDatesRender({ view }) {
        this.loading = true
        await this.fetchEvents({
          start: DateTime.fromJSDate(new Date(view.activeStart)).toISO(),
          end: DateTime.fromJSDate(new Date(view.activeEnd)).toISO()
        })
        await this.fetchDuties({
          start: DateTime.fromJSDate(new Date(view.activeStart)).toISO(),
          end: DateTime.fromJSDate(new Date(view.activeEnd)).toISO()
        })
        setTimeout(() => {
          this.loading = false
        }, 300)
      }
    }
  }
</script>