<template>
  <div class="w-full space-y-6">
    <app-toolbar
        :page-title="$t(`pages.${getRouteBaseName($route)}`)"
    />
    <div class="sm:grid sm:grid-cols-2 sm:gap-10">
      <dashboard-events :events="events" />
      <dashboard-discussions :discussions="discussions" />
      <dashboard-duties :duties="dutiesToday" />
    </div>
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  import appToolbar from "../../components/app/appToolbar";
  import {DateTime} from "luxon";
  import Btn from "../../components/btn";
  import DashboardEvents from "../../components/app/dashboardEvents";
  import DashboardDiscussions from "../../components/app/dashboardDiscussions";
  import DashboardDuties from "../../components/app/dashboardDuties";
  export default {
    layout: 'app',
    components: {
      DashboardDuties,
      DashboardDiscussions,
      DashboardEvents,
      Btn,
      appToolbar
    },
    apollo: {
      events: {
        query: gql`
            query events($seasonId: ID!, $range: DateRangeInput, $limit: Int) {
              events(seasonId: $seasonId, range: $range, limit: $limit) {
                  id
                  title
                  type
                  start
                  end
                  meetingTime
              }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id,
            range: {
              start: DateTime.fromJSDate(new Date()).toISO()
            },
            limit: 3
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      },
      discussions: {
        query: gql`
            query discussions($seasonId: ID!, $limit: Int) {
              discussions(seasonId: $seasonId, limit: $limit) {
                  id
                  title
                  created
                  author {
                    id
                    nickname
                    user {
                        id
                        fullname
                    }
                  }
              }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id,
            limit: 3
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      },
      dutiesToday: {
        query: gql`
            query dutiesToday($seasonId: ID!) {
              dutiesToday(seasonId: $seasonId) {
                  id
                  title
                  players {
                    id
                    nickname
                    user {
                        id
                        fullname
                    }
                  }
              }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      }
    },
    data() {
      return {
      }
    },
    methods: {

    }
  }
</script>