<template>
  <div>
    <app-toolbar
      :page-title="$t(`pages.${getRouteBaseName($route)}`)"
      :actions="toolbarActions"
    />
    <discussion-list
      class="mt-6"
      v-if="discussions"
      :discussions="discussions"
    />
    <discussion-create-modal
        :open="createDiscussionOpen"
        @close="createDiscussionOpen = false"
        @created="createDiscussionOpen = false; $apollo.queries.discussions.refetch()"
    />
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  import appToolbar from "../../components/app/appToolbar";
  import DiscussionCreateModal from "../../components/app/discussionCreateModal";
  import DiscussionList from "../../components/app/discussionList";
  export default {
    components: {
      DiscussionList,
      DiscussionCreateModal,
      appToolbar
    },
    layout: 'app',
    apollo: {
      discussions: {
        query: gql`
            query discussions($seasonId: ID!) {
                discussions(seasonId: $seasonId) {
                    id
                    title
                    created
                    author {
                        id
                        nickname
                        user {
                            id
                            fullname
                        }
                    }
                }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      }
    },
    data() {
      return {
        toolbarActions: [
          {
            icon: 'plus',
            label: this.$t('discussion.create'),
            type: 'app-primary',
            onClick: () => this.createDiscussionOpen = true
          }
        ],
        createDiscussionOpen: false
      }
    }
  }
</script>