<template>
    <div class="w-full">
        <app-toolbar :page-title="pageTitle" :actions="toolbarActions"  />
        <div class="flex flex-column md:flex-row flex-wrap">
            <div v-for="member in membersByUser" :key="member.id" class="flex w-full md:w-1/3 p-4">
                <team-card
                    @select="setTeam(member)"
                    :team="{
                        name: member.team.name,
                        memberRole: member.role,
                        seasonName: member.team.currentSeason.name
                    }"
                />
            </div>
        </div>
        <TheCreateTeamModal :open="open" @close="open = false" @created="handleTeamCreated"/>
    </div>
</template>

<script>
    import teamCard from "../../components/app/teamCard";
    import gql from 'graphql-tag'
    import btn from "../../components/btn";
    import TheCreateTeamModal from "../../components/app/TheCreateTeamModal";
    import AppToolbar from "../../components/app/appToolbar";

    export default {
        name: 'switch-team',
        layout: 'app',
        components: {
            AppToolbar,
            teamCard,
            btn,
            TheCreateTeamModal
        },
        apollo: {
            membersByUser: {
                query: gql`
                    query membersByUser($userId: ID!) {
                        membersByUser(userId: $userId) {
                            id
                            role
                            team {
                                id
                                name
                                currentSeason {
                                    id
                                    name
                                    start
                                    end
                                }
                            }
                        }
                    }
                `,
                variables() {
                    return {
                        userId: this.$store.state.user.user.id
                    }
                }
            }
        },
        data() {
          return {
              open: false
          }
        },
        computed: {
            pageTitle() {
                return this.$t(`pages.${this.getRouteBaseName(this.$route)}`)
            },
            toolbarActions() {
                return [
                    {
                        icon: 'plus',
                        label: this.$t('switchTeam.createTeam'),
                        type: 'app-primary',
                        onClick: () => this.open = true
                    }
                ]
            }
        },
        methods: {
            setTeam({ team, ...member }) {
                const { currentSeason, ...t } =  team
                this.$store.commit('team/team', t)
                this.$store.commit('team/season', currentSeason)
                this.$store.commit('user/member', member)

                // redirect to team dashboard
                this.$router.push(this.localePath({ name: 'app-dashboard'}))
            },
            handleTeamCreated() {
                this.$apollo.queries.membersByUser.refetch()
                this.open = false
            }
        }
    }
</script>