<template>
  <div>
    <app-toolbar
      :page-title="$t(`pages.${getRouteBaseName($route)}`)"
      :actions="toolbarActions"
    />
    <div class="mt-6">

      <!-- Datatable with tasks for COACHES -->
      <task-datatable
        v-if="isCoach && tasks"
        :tasks="tasks"
      />

      <!-- Todolist with tasks for PLAYERS -->
      <task-todo-list
        v-else-if="myTasks"
        :tasks="myTasks"
        @taskCompleted="setTaskCompleted"
      />
    </div>

    <!-- Modal for new task creation -->
    <task-create-modal
      :open="createTaskOpen"
      @close="createTaskOpen = false"
      @created="$apollo.queries.tasks.refetch(); createTaskOpen = false"
    />
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  import AppToolbar from "../../components/app/appToolbar";
  import taskDatatable from "../../components/app/taskDatatable";
  import taskTodoList from "../../components/app/taskTodoList";
  import TaskCreateModal from "../../components/app/taskCreateModal";
  export default {
    components: {
      TaskCreateModal,
      AppToolbar,
      taskDatatable,
      taskTodoList
    },
    layout: 'app',
    apollo: {
      tasks: {
        query: gql`
            query tasks($seasonId: ID!) {
                tasks(seasonId: $seasonId) {
                    id
                    name
                    description
                    assignedMembers {
                        completed
                        member {
                            id
                            nickname
                            user {
                                id
                                fullname
                            }
                        }
                    }
                }
            }
        `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id
          }
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      },
      myTasks: {
        query: gql`
              query myTasks($seasonId: ID!) {
                myTasks(seasonId: $seasonId) {
                  id
                  name
                  description
                  assignedMembers {
                    completed
                  }
                }
              }
            `,
        variables() {
          return {
            seasonId: this.$store.state.team.season.id
          }
        },
        skip() {
          return this.isCoach
        },
        context() {
          return {
            headers: {
              'X-Tms-Member': this.$store.state.user.member.id
            }
          }
        }
      }
    },
    data() {
      return {
        createTaskOpen: false,
        myTasks: []
      }
    },
    computed: {
      isCoach() {
        return this.$store.state.user.member.role === 'COACH'
      },
      toolbarActions() {
        if (this.isCoach) {
          return [
            {
              icon: 'plus',
              label: this.$t('task.create'),
              type: 'app-primary',
              onClick: () => this.createTaskOpen = true
            }
          ]
        }
      }
    },
    methods: {
      async setTaskCompleted(taskId) {
        try {
          await this.$api.mutate({
            mutation: gql`
                mutation taskCompleted($taskId: ID!, $memberId: ID!, $completed: Boolean!) {
                    taskCompleted(taskId: $taskId, memberId: $memberId, completed: $completed)
                }
            `,
            variables: {
              taskId,
              memberId: this.$store.state.user.member.id,
              completed: true
            }
          })
          this.$toast.success(this.$t('task.completedSuccess'))
          await this.$apollo.queries.myTasks.refetch()
        } catch (e) {
          this.$toast.error(this.$t(`error.${e.message}`))
        }
      }
    }
  }
</script>