<template>
    <div class="w-full space-y-6">
        <app-toolbar
            :page-title="pageTitle"
            :actions="toolbarActions"
        />
        <h3 class="text-lg uppercase font-light text-accent-dark mx-auto">{{ $t('team.players') }}</h3>
        <div class="flex flex-col space-y-6 md:grid md:grid-cols-3 md:gap-6 md:space-y-0">
            <member-card
                v-for="member in players" :key="member.id"
                :member="member"
                @select="$router.push(localePath({ name: 'app-member', params: { member: member.id } }))"
            />
        </div>
        <h3 class="text-lg uppercase font-light text-accent-dark mx-auto">{{ $t('team.coaches') }}</h3>
        <div class="flex flex-col space-y-6 md:grid md:grid-cols-3 md:gap-6 md:space-y-0">
            <member-card
                v-for="member in coaches" :key="member.id"
                :member="member"
                @select="$router.push(localePath({ name: 'app-member', params: { member: member.id } }))"
            />
        </div>
        <create-member-modal :open="createMemberOpen" @close="createMemberOpen = false" @created="$apollo.queries.teamMembers.refetch()" />
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import appToolbar from "../../components/app/appToolbar";
    import CreateMemberModal from "../../components/app/createMemberModal";
    import memberCard from "../../components/app/memberCard";
    import {RoleEnum} from "../../enums/RoleEnum";

  export default {
    components: {
        CreateMemberModal,
        appToolbar,
        memberCard
    },
    layout: 'app',
    apollo: {
      teamMembers: {
          query: gql`
            query teamMembers($teamId: ID!) {
                teamMembers(teamId: $teamId) {
                    id
                    nickname
                    role
                    position
                    isUnable
                    user {
                        id
                        fullname
                        email
                    }
                }
            }
          `,
          variables() {
              return {
                  teamId: this.$store.state.team.team.id
              }
          },
          context() {
              return {
                  headers: {
                      'X-Tms-Member': this.$store.state.user.member.id
                  }
              }
          }
      }
    },
    computed: {
        pageTitle() {
            return this.$t(`pages.${this.getRouteBaseName(this.$route)}`)
        },
        // is current user coach?
        amICoach() {
            return this.$store.getters['user/isCoach']
        },
        toolbarActions() {
            const actions = []

            if (this.amICoach) {
                actions.push({
                    icon: 'plus',
                    label: this.$t('team.createMember.cta'),
                    onClick: () => this.createMemberOpen = true
                })
            }

            return actions
        },
        coaches() {
            return this.teamMembers?.filter((member) => member.role === RoleEnum.COACH)
        },
        players() {
            return this.teamMembers?.filter((member) => member.role === RoleEnum.PLAYER)
        }
    },
    data() {
      return {
          createMemberOpen: false
      }
    }
  }
</script>