<template>
    <modal :open="open" @close="$store.commit('forgotPasswordToggle')">
        <template #body>
            <div>
                <svg class="fill-current text-accent-dark h-16 w-auto mx-auto" enable-background="new 0 0 479.953 479.953" version="1.1" viewBox="0 0 479.95 479.95" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <path d="m477.64 102.36-96.034-96.034c-1.527-1.551-3.629-2.399-5.804-2.344-2.172 0.039-4.234 0.961-5.711 2.555l-29.719 32c-2.899 3.122-2.844 7.968 0.125 11.023l2.253 2.317-11.8 11.8-18.641-4.656c-16.719-4.092-34.358 0.918-46.43 13.188l-34.004 39.629-39.512-39.512c-11.264-11.328-27.983-15.277-43.125-10.188-0.904 0.304-1.747 0.764-2.492 1.359l-2.172 1.75-5.266-5.265 10.344-10.344c3.124-3.122 3.125-8.186 3e-3 -11.309l-32.003-32.003c-3.122-3.124-8.186-3.125-11.309-3e-3l-104 104c-3.124 3.122-3.125 8.186-3e-3 11.309l32.003 32.003c3.122 3.124 8.186 3.125 11.31 3e-3l3.616-3.616 18.957 18.957-4.656 18.641c-4.084 16.473 0.716 33.884 12.664 45.938l67.766 69.716v62.541c0.147 14.339 8.193 27.427 20.922 34.031 6.825 3.632 11.087 10.737 11.078 18.469v1.664h-8c-4.416-3e-3 -7.997 3.575-8 7.991v9e-3 40c-3e-3 4.416 3.575 7.997 7.991 8h9e-3 152c4.416 3e-3 7.997-3.575 8-7.991v-9e-3 -40c3e-3 -4.416-3.575-7.997-7.991-8h-9e-3 -8v-8.039l12.68-11.695c12.134-9.18 19.281-23.503 19.32-38.719v-93.716c9.473-1.138 18.279-5.458 24.977-12.253l42.289-45.922c9.941-9.869 13.402-24.533 8.922-37.805-1.282-3.858 5.609-16.484 13.819-26.167 1.465 1.454 3.437 2.284 5.501 2.315h0.078c2.106 0 4.128-0.831 5.625-2.313l32.367-32c3.141-3.104 3.17-8.167 0.065-11.308zm-437.64 34.31-20.687-20.688 92.687-92.688 20.688 20.687-92.688 92.689zm104.71 144.38-57.084-58.726c-8.031-8.082-11.267-19.766-8.539-30.828l5.758-23.031c0.685-2.725-0.114-5.609-2.102-7.594l-22.16-22.16 67.418-67.418 10.344 10.344c2.889 2.887 7.488 3.136 10.672 0.578l6.57-5.289c9.078-2.538 18.82 0.029 25.469 6.711l44.1 44.1-0.076 0.057c-3.569 3.279-6.229 7.427-7.719 12.039-4.958-2.687-10.608-3.822-16.219-3.258-14.521 1.894-25.325 14.357-25.141 29v83.664c-15.911 3.285-28.268 15.847-31.291 31.811zm167.29 178.93h-136v-24h136v24zm16-98.453c-0.093 10.456-5.114 20.255-13.547 26.438l-15.867 14.578c-1.649 1.515-2.587 3.652-2.586 5.891v11.547h-104v-1.664c0.018-13.645-7.506-26.183-19.555-32.586-7.507-3.832-12.291-11.488-12.445-19.914v-77.383c0.031-10.137 6.438-19.158 16-22.526v50.073h16v-150.41c-0.245-6.447 4.363-12.062 10.734-13.078 3.394-0.35 6.778 0.754 9.313 3.039 2.529 2.264 3.968 5.503 3.953 8.898v119.55h16v-135.55c-5e-3 -6.625 5.362-11.999 11.987-12.004 0.37 0 0.739 0.017 1.107 0.05 6.479 1.08 11.148 6.803 10.906 13.367v134.13h16v-111.55c-5e-3 -6.625 5.362-11.999 11.987-12.004 0.37 0 0.739 0.017 1.107 0.05 6.479 1.08 11.148 6.803 10.906 13.367v110.13h16v-66.073c9.562 3.368 15.969 12.389 16 22.526v121.1zm77.015-184.63c2.541 7.638 0.486 16.056-5.289 21.664l-42.289 45.922c-3.659 3.698-8.337 6.219-13.438 7.242v-11.289c-0.025-19-13.39-35.37-32-39.195v-27.391c0.281-14.871-10.748-27.537-25.516-29.305-5.016-0.422-10.055 0.495-14.602 2.656-0.942-13.842-11.618-25.046-25.398-26.656-0.34-0.029-0.675 0.035-1.015 0.019l32.14-37.487c8.083-8.028 19.766-11.264 30.828-8.539l23.031 5.758c2.725 0.683 5.608-0.115 7.594-2.102l14.845-14.845 68.93 70.885c-7.384 8.566-22.553 28.473-17.821 42.663zm34.681-48.274-82.423-84.766 18.891-20.352 84.445 84.445-20.913 20.673z"/>
                </svg>
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-primary">
                    {{ $t('forgotPassword.title') }}
                </h2>
            </div>
            <form ref="form" @submit.prevent @keyup.enter="forgotPassword" class="mt-8">
                <div class="shadow-sm">
                    <div>
                        <input
                            v-model="email"
                            :aria-label="$t('login.email')"
                            :name="$t('login.email')"
                            type="email"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('login.email')"
                        />
                    </div>
                </div>
                <span class="w-full text-primary text-sm opacity-50">{{ $t('forgotPassword.emailInfo') }}</span>
            </form>
        </template>
        <template #actions>
            <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <btn @click.native="forgotPassword" type="primary" class="inline-flex w-full">
                    {{ $t('forgotPassword.submit') }}
                    </btn>
                 </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <btn @click.native="$store.commit('forgotPasswordToggle')" type="secondary" class="w-full inline-flex">
                        {{ $t('app.cancel') }}
                    </btn>
                </span>
            </div>
        </template>
    </modal>
</template>

<script>
    import gql from 'graphql-tag'
    import Modal from "../modal";
    import btn from "../btn";

    export default {
        components: {
            Modal,
            btn
        },
        data() {
          return {
              email: ''
          }
        },
        computed: {
          open() {
              return this.$store.state.forgotPasswordOpen
            }
        },
        methods: {
            async forgotPassword() {
                if (this.$refs.form.checkValidity()) {
                    try {
                        console.log("wtf")
                        await this.$api.mutate({
                            mutation: gql`
                            mutation forgotPassword($email: String!) {
                                forgotPassword(email: $email)
                            }
                        `,
                            variables: {
                                email: this.email
                            }
                        })

                        // reset data to default
                        Object.assign(this.$data, this.$options.data())
                        this.$toast.success(this.$t('forgotPassword.successMessage'))

                        // close modal
                        this.$store.commit('forgotPasswordToggle')
                    } catch (e) {
                        this.$toast.error(this.$t(`error.${e.message}`))
                    }
                } else {
                    this.$refs.form.reportValidity()
                }
            }
        }
    }
</script>