<template>
    <MySelect
        v-model="currentLocale"
        :position="position"
        :options="availableLocales.map(l => l.code)"
    />
</template>

<script>
    import MySelect from '~/components/select'
    export default {
        props: {
            position: {
                type: String,
                default: 'left'
            }
        },
        components: {
            MySelect
        },
        computed: {
            availableLocales() {
                return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
            },
            currentLocale: {
                get() {
                    return this.$i18n.locale
                },
                set(locale) {
                    this.$router.push(this.switchLocalePath(locale))
                }

            }
        }

    }
</script>