<template>
    <div>
        <nav class="relative z-30 flex items-center justify-between sm:h-16 p-4">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                    <nuxt-link :to="localePath({ name: 'index' })">
                        <img class="h-8 w-auto sm:h-10" src="/images/team.svg" alt="logo" />
                    </nuxt-link>
                    <div class="-mr-2 flex items-center md:hidden">
                        <button @click="open = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-secondary hover:text-primary focus:outline-none transition duration-150 ease-in-out">
                            <font-awesome-icon size="lg" icon="bars"></font-awesome-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden md:block md:ml-10 md:pr-4">
                <nuxt-link
                    :to="localePath({name: 'about'})"
                    class="ml-8 font-medium text-primary hover:text-secondary focus:outline-none transition duration-150 ease-in-out">
                    {{ $t('pages.app-about') }}
                </nuxt-link>
                <a
                    v-if="!hasToken"
                    href="#"
                    @click.prevent="$store.commit('loginToggle', true)"
                    class="ml-8 font-medium text-accent-dark hover:text-accent-light focus:outline-none transition duration-150 ease-in-out">
                    {{ $t('signIn') }}
                </a>
                <!-- is logged in just go to the app -->
                <nuxt-link
                    v-else
                    :to="localePath({name: 'app'})"
                    class="ml-8 font-medium text-accent-dark hover:text-accent-light focus:outline-none transition duration-150 ease-in-out">
                    {{ $t('goToApp') }}
                    <font-awesome-icon class="ml-1" size="xs" icon="lock-open"></font-awesome-icon>
                </nuxt-link>
            </div>
            <div class="hidden md:block md:ml-10">
                <TheLangSwitcher />
            </div>
        </nav>
        <transition name="fade">
            <div v-show="open" class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
                <div class="shadow-md">
                    <div class="bg-default shadow-xs overflow-hidden">
                        <div class="px-5 pt-4 flex items-center justify-between">
                            <div>
                                <img class="h-8 w-auto" src="/images/team.svg" alt="logo" />
                            </div>
                            <div class="-mr-2">
                                <button @click="open = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-secondary hover:text-primary focus:outline-none transition duration-150 ease-in-out">
                                    <font-awesome-icon size="lg" icon="times"></font-awesome-icon>
                                </button>
                            </div>
                        </div>
                        <div class="px-2 pt-2 pb-3">
                            <nuxt-link
                                :to="localePath({name: 'about'})"
                                class="block px-3 py-2 text-base font-medium text-secondary hover:text-primary hover:bg-ternary focus:outline-none transition duration-150 ease-in-out">
                                {{ $t('pages.app-about') }}
                            </nuxt-link>
                            <TheLangSwitcher class="px-3 py2" position="right" />
                        </div>
                        <div>
                            <a
                                v-if="!hasToken"
                                href="#"
                                @click.prevent="$store.commit('loginToggle', true)"
                                class="block w-full px-5 py-3 text-center font-medium text-default bg-accent-dark hover:bg-accent-light transition duration-150 ease-in-out">
                                {{ $t('signIn') }}
                            </a >
                            <!-- is logged in just go to the app -->
                            <nuxt-link
                                    v-else
                                    :to="localePath({name: 'app'})"
                                    class="block w-full px-5 py-3 text-center font-medium text-default bg-accent-dark hover:bg-accent-light transition duration-150 ease-in-out">
                                {{ $t('goToApp') }}
                                <font-awesome-icon class="ml-1" size="xs" icon="lock-open"></font-awesome-icon>
                            </nuxt-link>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import TheLangSwitcher from '~/components/layout/TheLangSwitcher'
    export default {
        components: {
          TheLangSwitcher
        },
        data() {
            return {
                open: false
            }
        },
        computed: {
            hasToken() {
                return this.$store.state.user.hasToken
            }
        }
    }
</script>

<style>
    .nuxt-link-exact-active {
        @apply underline;
    }
</style>