<template>
    <nav class="w-full z-30 flex flex-col md:max-w-sm bg-primary md:left-0 text-center text-default">
        <div class="w-full h-16 md:h-24 flex flex-row justify-between py-4 px-8 md:px-4">

            <svg class="fill-current text-accent-light md:h-12 h-8 md:w-1/4" enable-background="new 0 0 479.953 479.953" version="1.1" viewBox="0 0 479.95 479.95" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <path d="m477.64 102.36-96.034-96.034c-1.527-1.551-3.629-2.399-5.804-2.344-2.172 0.039-4.234 0.961-5.711 2.555l-29.719 32c-2.899 3.122-2.844 7.968 0.125 11.023l2.253 2.317-11.8 11.8-18.641-4.656c-16.719-4.092-34.358 0.918-46.43 13.188l-34.004 39.629-39.512-39.512c-11.264-11.328-27.983-15.277-43.125-10.188-0.904 0.304-1.747 0.764-2.492 1.359l-2.172 1.75-5.266-5.265 10.344-10.344c3.124-3.122 3.125-8.186 3e-3 -11.309l-32.003-32.003c-3.122-3.124-8.186-3.125-11.309-3e-3l-104 104c-3.124 3.122-3.125 8.186-3e-3 11.309l32.003 32.003c3.122 3.124 8.186 3.125 11.31 3e-3l3.616-3.616 18.957 18.957-4.656 18.641c-4.084 16.473 0.716 33.884 12.664 45.938l67.766 69.716v62.541c0.147 14.339 8.193 27.427 20.922 34.031 6.825 3.632 11.087 10.737 11.078 18.469v1.664h-8c-4.416-3e-3 -7.997 3.575-8 7.991v9e-3 40c-3e-3 4.416 3.575 7.997 7.991 8h9e-3 152c4.416 3e-3 7.997-3.575 8-7.991v-9e-3 -40c3e-3 -4.416-3.575-7.997-7.991-8h-9e-3 -8v-8.039l12.68-11.695c12.134-9.18 19.281-23.503 19.32-38.719v-93.716c9.473-1.138 18.279-5.458 24.977-12.253l42.289-45.922c9.941-9.869 13.402-24.533 8.922-37.805-1.282-3.858 5.609-16.484 13.819-26.167 1.465 1.454 3.437 2.284 5.501 2.315h0.078c2.106 0 4.128-0.831 5.625-2.313l32.367-32c3.141-3.104 3.17-8.167 0.065-11.308zm-437.64 34.31-20.687-20.688 92.687-92.688 20.688 20.687-92.688 92.689zm104.71 144.38-57.084-58.726c-8.031-8.082-11.267-19.766-8.539-30.828l5.758-23.031c0.685-2.725-0.114-5.609-2.102-7.594l-22.16-22.16 67.418-67.418 10.344 10.344c2.889 2.887 7.488 3.136 10.672 0.578l6.57-5.289c9.078-2.538 18.82 0.029 25.469 6.711l44.1 44.1-0.076 0.057c-3.569 3.279-6.229 7.427-7.719 12.039-4.958-2.687-10.608-3.822-16.219-3.258-14.521 1.894-25.325 14.357-25.141 29v83.664c-15.911 3.285-28.268 15.847-31.291 31.811zm167.29 178.93h-136v-24h136v24zm16-98.453c-0.093 10.456-5.114 20.255-13.547 26.438l-15.867 14.578c-1.649 1.515-2.587 3.652-2.586 5.891v11.547h-104v-1.664c0.018-13.645-7.506-26.183-19.555-32.586-7.507-3.832-12.291-11.488-12.445-19.914v-77.383c0.031-10.137 6.438-19.158 16-22.526v50.073h16v-150.41c-0.245-6.447 4.363-12.062 10.734-13.078 3.394-0.35 6.778 0.754 9.313 3.039 2.529 2.264 3.968 5.503 3.953 8.898v119.55h16v-135.55c-5e-3 -6.625 5.362-11.999 11.987-12.004 0.37 0 0.739 0.017 1.107 0.05 6.479 1.08 11.148 6.803 10.906 13.367v134.13h16v-111.55c-5e-3 -6.625 5.362-11.999 11.987-12.004 0.37 0 0.739 0.017 1.107 0.05 6.479 1.08 11.148 6.803 10.906 13.367v110.13h16v-66.073c9.562 3.368 15.969 12.389 16 22.526v121.1zm77.015-184.63c2.541 7.638 0.486 16.056-5.289 21.664l-42.289 45.922c-3.659 3.698-8.337 6.219-13.438 7.242v-11.289c-0.025-19-13.39-35.37-32-39.195v-27.391c0.281-14.871-10.748-27.537-25.516-29.305-5.016-0.422-10.055 0.495-14.602 2.656-0.942-13.842-11.618-25.046-25.398-26.656-0.34-0.029-0.675 0.035-1.015 0.019l32.14-37.487c8.083-8.028 19.766-11.264 30.828-8.539l23.031 5.758c2.725 0.683 5.608-0.115 7.594-2.102l14.845-14.845 68.93 70.885c-7.384 8.566-22.553 28.473-17.821 42.663zm34.681-48.274-82.423-84.766 18.891-20.352 84.445 84.445-20.913 20.673z"/>
            </svg>
            <div class="hidden md:flex md:px-4">
                <TheLangSwitcher />
            </div>

            <!-- Toggler-->
            <button
                    class="md:hidden"
                    @click="collapseMenu = !collapseMenu"
            >
                <font-awesome-icon v-if="collapseMenu" icon="bars"></font-awesome-icon>
                <font-awesome-icon v-else icon="times"></font-awesome-icon>
            </button>
        </div>
        <!-- Navbar items -->
        <div
            class="transition duration-150 w-full flex flex-col-reverse flex-grow md:flex md:flex-col px-4"
            :class="{hidden: collapseMenu}"
        >
            <div class="p-4 flex flex-row items-center">
                <div class="flex overflow-hidden">
                    <img
                        class="inline-block h-16 w-16 lg:h-24 lg:w-24 rounded-full mr-4 text-default shadow-solid"
                        src="https://images.unsplash.com/photo-1505503693641-1926193e8d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt="avatar"
                    />
                </div>
                <div class="flex flex-col text-left">
                    <span v-if="user" class="text-lg">{{ user.name }} {{ user.surname }}</span>
                    <span v-if="isTeamSet && member" class="member-role-team">{{ $t(`enums.memberRoles.${member.role}`) }} - {{ team.name }}</span>
                    <span
                        @click="$router.push(localePath({ name: 'app-member', params: { member: member.id } }))"
                        class="text-secondary hover:text-default cursor-pointer transition duration-300">
                        {{ $t('app.viewProfile') }}
                    </span>
                </div>
            </div>

            <ul class="px-4 text-left border-t border-default md:border-none">
                <nuxt-link :to="localePath({ name: 'app' })" v-slot="{ href, navigate, isActive, isExactActive }">
                    <li @click="navigate" :class="[isActive && 'link-active', isExactActive && 'link-exact-active']">
                        <font-awesome-icon icon="users-cog"></font-awesome-icon>
                        <a :href="href">{{ $t('pages.app') }}</a>
                    </li>
                </nuxt-link>
                <li @click.prevent="logout">
                    <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
                    <a>{{ $t('app.logout') }}</a>
                </li>
            </ul>

            <ul v-if="isTeamSet" class="px-4 text-left md:border-t border-default">
                <nuxt-link :to="localePath({ name: 'app-dashboard' })" v-slot="{ href, navigate, isActive, isExactActive }">
                    <li @click="navigate" :class="[isActive && 'link-active', isExactActive && 'link-exact-active']">
                        <font-awesome-icon icon="tachometer-alt"></font-awesome-icon>
                        <a :href="href">{{ $t('pages.app-dashboard') }}</a>
                    </li>
                </nuxt-link>
                <nuxt-link :to="localePath({ name: 'app-team' })" v-slot="{ href, navigate, isActive, isExactActive }">
                    <li @click="navigate" :class="[isActive && 'link-active', isExactActive && 'link-exact-active']">
                        <font-awesome-icon icon="users"></font-awesome-icon>
                        <a :href="href">{{ $t('pages.app-team') }}</a>
                    </li>
                </nuxt-link>
                <nuxt-link :to="localePath({ name: 'app-calendar' })" v-slot="{ href, navigate, isActive, isExactActive }">
                    <li @click="navigate" :class="[isActive && 'link-active', isExactActive && 'link-exact-active']">
                        <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                        <a :href="href">{{ $t('pages.app-calendar') }}</a>
                    </li>
                </nuxt-link>
                <nuxt-link :to="localePath({ name: 'app-tasks' })" v-slot="{ href, navigate, isActive, isExactActive }">
                    <li @click="navigate" :class="[isActive && 'link-active', isExactActive && 'link-exact-active']">
                        <font-awesome-icon icon="tasks"></font-awesome-icon>
                        <a :href="href">{{ $t('pages.app-tasks') }}</a>
                    </li>
                </nuxt-link>
                <nuxt-link :to="localePath({ name: 'app-discussions' })" v-slot="{ href, navigate, isActive, isExactActive }">
                    <li @click="navigate" :class="[isActive && 'link-active', isExactActive && 'link-exact-active']">
                        <font-awesome-icon icon="comments"></font-awesome-icon>
                        <a :href="href">{{ $t('pages.app-discussions') }}</a>
                    </li>
                </nuxt-link>
            </ul>
        </div>
    </nav>
</template>

<script>
    import TheLangSwitcher from "./TheLangSwitcher";

    export default {
        components: {
          TheLangSwitcher
        },
        data() {
            return {
                collapseMenu: true
            }
        },
        methods: {
            async logout() {
                this.$store.commit('user/user', null)
                this.$store.commit('user/member', null)
                this.$store.commit('team/team', null)
                this.$store.commit('team/season', null)
                await this.$router.push(this.localePath({ name: 'index' }))
                await this.$store.dispatch('user/logout')
            }
        },
        computed: {
            user() {
                return this.$store.state.user.user
            },
            team() {
              return this.$store.state.team.team
            },
            isTeamSet() {
                return this.team !== null
            },
            member() {
                return this.$store.state.user.member
            }
        }
    }
</script>

<style scoped>
    ul > li:hover {
        @apply cursor-pointer bg-secondary;
    }

    ul > li {
        @apply transition duration-300 px-4 py-2 my-2;
    }

    ul > li > svg {
        @apply mr-4;
    }

    .link-exact-active {
        @apply bg-secondary;
    }
</style>