<template>
    <div class="w-full py-8 md:w-2/3 md:mx-auto md:py-12">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-primary">
            {{ $t('makeAccount') }}
        </h2>
        <form @submit.prevent="register" class="mt-8">
            <input type="hidden" name="remember" value="true" />
            <div class="shadow-sm">
                <div>
                    <input
                        v-model="email"
                        :aria-label="$t('register.email')"
                        :name="$t('register.email')"
                        type="email"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('register.email')"
                    />
                </div>
                <div class="mt-6">
                    <input
                        v-model="name"
                        :aria-label="$t('register.name')"
                        :name="$t('register.name')"
                        type="text"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('register.name')"
                    />
                </div>
                <div class="mt-6">
                    <input
                        v-model="surname"
                        :aria-label="$t('register.surname')"
                        :name="$t('register.surname')"
                        type="text"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('register.surname')"
                    />
                </div>
                <div class="mt-6">
                    <input
                        v-model="password"
                        :aria-label="$t('register.password')"
                        :name="$t('register.password')"
                        type="password"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                        :placeholder="$t('register.password')"
                    />
                </div>
            </div>

            <div class="py-3 mt-6 sm:flex sm:flex-row-reverse">
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium text-default bg-accent-dark hover:bg-accent-light focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    <span class="absolute left-0 inset-y pl-3">
                        <font-awesome-icon icon="lock"></font-awesome-icon>
                    </span>
                    {{ $t('makeAccount') }}
                </button>
            </div>
        </form>
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-default transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    export default {
        layout: 'landing',
        asyncData({ route, error, app }) {
            if (!route.params.inviteHash) {
                error({ statusCode: 400, message: app.i18n.t('error.badRequestMessage')})
            }

            return {
                inviteHash: route.params.inviteHash,
                email: route.query.email ?? ''
            }
        },
        data() {
            return {
                name: '',
                surname: '',
                password: '',
                successRegistration: false
            }
        },
        methods: {
            async register() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                        mutation register($name: String!, $surname: String!, $email: String!, $password: String!, $inviteHash: String) {
                            register(name: $name, surname: $surname, email: $email, password: $password, inviteHash: $inviteHash)
                        }
                    `,
                        variables: {
                            name: this.name,
                            surname: this.surname,
                            email: this.email,
                            password: this.password,
                            inviteHash: this.inviteHash
                        }
                    })
                    this.$router.push(this.localePath({ name: 'login' }))
                    this.$toast.success(this.$t('register.success.message'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>