<template>
    <button @click="$emit('select')" :type="submit ? 'submit' : 'button'" :class="classes">
        <slot />
    </button>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'primary'
            },
            submit: {
                type: Boolean,
                default: false
            },
            active: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            classes() {
                if (this.type === 'primary') {
                    return 'inline-flex border border-transparent px-4 py-2 bg-accent-dark text-default leading-6 font-medium shadow-sm hover:bg-accent-light focus:outline-none focus:border-accent-dark focus:shadow-outline-accent-light transition ease-in-out duration-150 sm:text-sm sm:leading-5'
                } else if (this.type === 'secondary') {
                    return 'inline-flex border border-accent-light px-4 py-2 bg-default text-accent-dark leading-6 font-medium shadow-sm hover:bg-accent-light hover:text-default focus:outline-none focus:shadow-outline-accent-light transition ease-in-out duration-150 sm:text-sm sm:leading-5'
                } else if (this.type === 'app-primary') {
                    return 'inline-flex border border-transparent px-3 py-2 bg-accent-dark text-default leading-4 font-medium hover:bg-accent-light focus:outline-none focus:border-accent-dark focus:shadow-outline-accent-light transition ease-in-out duration-150 sm:text-sm sm:leading-5'
                } else if (this.type === 'app-secondary') {
                    if (!this.active) {
                        return 'inline-flex border border-transparent px-3 py-2 bg-ternary text-primary leading-4 font-medium hover:bg-primary hover:text-default focus:outline-none focus:border-primary focus:shadow-outline-ternary transition ease-in-out duration-150 sm:text-sm sm:leading-5'
                    } else {
                        return 'inline-flex border border-transparent px-3 py-2 bg-primary text-default leading-4 font-medium hover:bg-secondary focus:outline-none focus:border-primary focus:shadow-outline-ternary transition ease-in-out duration-150 sm:text-sm sm:leading-5'
                    }
                }
            }
        }
    }
</script>