<template>
    <div
        class="z-40 r bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center"
        :class="[fixed ? 'fixed' : 'relative']"
    >
        <div
            class="inset-0 transition-opacity"
            :class="[fixed ? 'fixed' : 'relative']"
        >
            <div
                class="absolute inset-0 opacity-75"
                :class="[background ? 'bg-secondary' : 'bg-ternary']"
            ></div>
        </div>
        <fulfilling-square-spinner
            :animation-duration="2000"
            :size="size"
            :color="defaultColor"
        />
    </div>
</template>

<script>
    import { FulfillingSquareSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'

    export default {
        name: 'loader',
        components: {
            FulfillingSquareSpinner
        },
        props: {
          size: {
              type: Number,
              default: 50
          },
            fixed: {
              type: Boolean,
                default: false
            },
            background: {
              type: Boolean,
                default: false
            }
        },
        data() {
            return {
                defaultColor: '#ff1d5e'
            }
        },
        created() {
            this.defaultColor = getComputedStyle(document.querySelector('.theme-light'))
                .getPropertyValue('--color-accent-dark');
        }
    }
</script>