<template>
<transition name="fade">
    <div v-if="open" class="fixed z-40 bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
        <div @click="$emit('close')" class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-primary opacity-75"></div>
        </div>

        <div class="bg-default overflow-hidden shadow-xl transform transition-all max-h-screen overflow-y-auto sm:max-w-lg sm:w-full">
            <font-awesome-icon @click="$emit('close')" class="text-primary hover:text-secondary absolute right-0 mx-3 my-2 cursor-pointer" size="lg" icon="times" />
            <div class="bg-default px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <slot name="body">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-accent-light sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-default" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-primary">
                                Deactivate account
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm leading-5 text-gray-500">
                                    Are you sure you want to deactivate your account? All of your data will be permanantly removed. This action cannot be undone.
                                </p>
                            </div>
                        </div>
                    </div>
                </slot>
            </div>
            <slot name="actions">
                <div class="bg-ternary px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                        <button @click="$emit('close')" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                            Deactivate
                        </button>
                     </span>
                    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                        <button @click="$emit('close')" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                            Cancel
                        </button>
                    </span>
                </div>
            </slot>
        </div>
    </div>
</transition>
</template>

<script>
    export default {
        props: {
            open: false
        }
    }
</script>