<template>
    <div @keydown.escape="open = false" class="relative z-20 inline-block text-left">
        <div  class="cursor-pointer">
            <span class="shadow-sm">
              <button
                  @click="open = !open; $emit('click')"
                  type="button"
                  class="inline-flex justify-center w-full border border-primary px-2 py-2 bg-default text-md leading-5 font-medium text-primary focus:outline-none focus:border-primary focus:shadow-outline-primary active:bg-ternary active:text-primary disabled:bg-ternary disabled:border-transparent transition ease-in-out duration-150"
                  :disabled="disabled"
              >
                {{ value }}
                <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
                </svg>
              </button>
            </span>
        </div>
        <transition name="fade">
            <div v-if="open" class="origin-top-right absolute mt-2 w-56 shadow-lg" :class="[ position === 'right' ? 'left-0' : 'right-0']">
                <div class="bg-default shadow-xs">
                    <slot name="options" />
                    <div v-for="op in options" @click="op instanceof Object ? $emit('input', op.value) : $emit('input', op)" class="py-1">
                        <span
                            @click="open = false"
                            class="block px-4 py-2 text-sm leading-5 text-primary hover:bg-ternary focus:outline-none focus:bg-ternary cursor-pointer"
                        >
                            {{ op instanceof Object ? op.label : op }}
                        </span>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default  {
        props: {
            options: {
                type: Array,
                default: []
            },
            value: null,
            position: {
                type: String,
                default: 'left'
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                open: false
            }
        }
    }
</script>