<template>
    <div class="w-full py-8 md:w-2/3 md:mx-auto md:py-12">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-primary">
            {{ $t('resetPassword.title') }}
        </h2>
        <form @submit.prevent="resetPassword" class="mt-8">
            <div class="shadow-sm">
                <div>
                    <input
                            v-model="password"
                            :aria-label="$t('login.password')"
                            :name="$t('login.password')"
                            type="password"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('login.password')"
                    />
<!--                    <p class="text-error text-xs italic">Please choose a password.</p>-->
                </div>
                <div class="mt-6">
                    <input
                            v-model="verifyPassword"
                            :aria-label="$t('resetPassword.verifyPassword')"
                            :name="$t('resetPassword.verifyPassword')"
                            type="password"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('resetPassword.verifyPassword')"
                    />
                </div>
            </div>

            <div class="mt-6 py-3 sm:flex sm:flex-row-reverse">
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium text-default bg-accent-dark hover:bg-accent-light focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    {{ $t('resetPassword.title') }}
                </button>
            </div>
        </form>
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-default transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        layout: 'landing',
        asyncData({ route, error, app }) {

            if (!route.params.token) {
                error({ statusCode: 400, message: app.i18n.t('error.badRequestMessage')})
            }

            return {
                token: route.params.token
            }
        },
        data() {
            return {
                verifyPassword: '',
                password: ''
            }
        },
        methods: {
            async resetPassword() {
                try {

                    if (this.password !== this.verifyPassword) {
                        this.$toast.error(this.$t('resetPassword.verifyPasswordNotMatch'))
                        this.verifyPassword = ''
                        return
                    }

                    await this.$api.mutate({
                        mutation: gql`
                            mutation recoveryPassword($token: String!, $password: String!) {
                                recoveryPassword(token: $token, password: $password)
                            }
                        `,
                        variables: {
                            token: this.token,
                            password: this.password
                        }
                    })

                    Object.assign(this.$data, this.$options.data())
                    this.$router.push(this.localePath({ name: 'login' }))
                    this.$toast.success(this.$t('resetPassword.successMessage'))
                } catch(e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>