<template>
<div>
    <div class="py-12 mt-12 relative bg-default">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
                <p class="text-base leading-6 text-accent-dark font-semibold tracking-wide uppercase">Team management system</p>
                <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-primary sm:text-4xl sm:leading-10">
                    A new way to develop your team
                </h3>
                <p class="mt-4 max-w-2xl text-xl leading-7 text-secondary lg:mx-auto">
                    Using modern technologies you can manage your team and let your players develop outside of the pitch too!
                </p>
            </div>

            <div class="mt-10">
                <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
                    <li>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-accent-light text-default">
                                    <svg class="h-8vu
                                     w-8 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 100 100">
                                        <g>
                                            <path d="M31.068,38.79c7.18,0,13.021-5.841,13.021-13.021c0-7.178-5.842-13.019-13.021-13.019c-7.177,0-13.016,5.84-13.016,13.019
                                                C18.052,32.949,23.891,38.79,31.068,38.79z M31.068,15.75c5.525,0,10.021,4.494,10.021,10.019c0,5.526-4.496,10.021-10.021,10.021
                                                c-5.522,0-10.016-4.496-10.016-10.021S25.545,15.75,31.068,15.75z"/>
                                            <path d="M63.772,50.934c-0.789,0.254-1.223,1.099-0.969,1.887c0.253,0.788,1.098,1.225,1.887,0.969
                                                c1.708-0.549,3.492-0.828,5.304-0.828c9.54,0,17.302,7.762,17.302,17.304c0,0.829,0.672,1.5,1.5,1.5s1.5-0.671,1.5-1.5
                                                c0-11.195-9.107-20.304-20.302-20.304C67.87,49.963,65.777,50.289,63.772,50.934z"/>
                                            <path d="M70.574,46.589c6.603,0,11.975-5.372,11.975-11.975c0-6.602-5.372-11.972-11.975-11.972c-6.6,0-11.969,5.371-11.969,11.972
                                                C58.605,41.217,63.974,46.589,70.574,46.589z M70.574,25.642c4.948,0,8.975,4.025,8.975,8.972c0,4.949-4.026,8.975-8.975,8.975
                                                c-4.945,0-8.969-4.026-8.969-8.975C61.605,29.667,65.628,25.642,70.574,25.642z"/>
                                            <path d="M90.617,86.124c0.026-0.102,0.04-0.206,0.045-0.311c0.001-0.033,0-0.066-0.001-0.099c-0.002-0.088-0.012-0.175-0.03-0.262
                                                c-0.006-0.031-0.011-0.062-0.019-0.094c-0.031-0.114-0.071-0.226-0.131-0.333l-8.557-15.484c-0.401-0.727-1.314-0.987-2.038-0.587
                                                c-0.725,0.401-0.988,1.313-0.587,2.039l7.326,13.258H64.793c-0.754-7.407-7.028-13.207-14.631-13.207
                                                c-7.602,0-13.875,5.8-14.629,13.207H22.355V64.802c0-0.829-0.672-1.5-1.5-1.5s-1.5,0.671-1.5,1.5v19.449h-7.019V45.827h36.165
                                                v3.466c-4.831,0.682-8.562,4.831-8.562,9.846c0,5.49,4.466,9.956,9.956,9.956c5.491,0,9.958-4.466,9.958-9.956
                                                c0-4.942-3.624-9.043-8.353-9.814v-4.998c0-0.829-0.672-1.5-1.5-1.5H10.835c-0.828,0-1.5,0.671-1.5,1.5V85.75
                                                c0,0.829,0.672,1.5,1.5,1.5h78.328c0.001,0,0.002,0,0.004,0c0.127,0,0.254-0.017,0.379-0.05c0.054-0.014,0.102-0.041,0.153-0.061
                                                c0.064-0.025,0.13-0.042,0.193-0.076c0.004-0.002,0.007-0.005,0.01-0.007c0.016-0.009,0.03-0.022,0.045-0.031
                                                c0.086-0.053,0.165-0.113,0.237-0.179c0.026-0.024,0.048-0.05,0.072-0.075c0.061-0.065,0.115-0.134,0.163-0.208
                                                c0.011-0.018,0.028-0.031,0.039-0.049c0.006-0.01,0.008-0.022,0.014-0.033c0.057-0.103,0.105-0.21,0.137-0.322
                                                C90.614,86.146,90.615,86.135,90.617,86.124z M56.855,59.139c0,3.835-3.121,6.956-6.958,6.956c-3.836,0-6.956-3.12-6.956-6.956
                                                s3.12-6.956,6.956-6.956C53.734,52.183,56.855,55.303,56.855,59.139z M50.163,74.043c5.946,0,10.86,4.459,11.6,10.207H38.565
                                                C39.305,78.502,44.218,74.043,50.163,74.043z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h5 class="text-lg leading-6 font-medium text-primary">Friendly environment for everyone</h5>
                                <p class="mt-2 text-base leading-6 text-secondary">
                                    Coaches, players and their parents - all of them can easily use the system.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-10 md:mt-0">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-accent-light text-default">
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h5 class="text-lg leading-6 font-medium text-primary">Totally free</h5>
                                <p class="mt-2 text-base leading-6 text-secondary">
                                    No more difficult decisions, which package to buy. Everything is free - just sign in!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-10 md:mt-0">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-accent-light text-default">
                                    <svg class="h-6 w-6 fill-current" stroke="currentColor" fill="none" viewBox="0 0 50 50">
                                        <g id="Layer_1_1_">
                                            <path d="M12.461,31.97L24,48.317V49h2v-0.683L37.539,31.97C43.905,31.662,49,25.971,49,19c0-7.168-5.383-13-12-13c-0.776,0-1.567,0.116-2.36,0.292C32.452,3.09,28.951,1,25,1s-7.453,2.089-9.64,5.292C14.568,6.117,13.777,6,13,6C6.383,6,1,11.832,1,19C1,25.971,6.095,31.662,12.461,31.97z M14.813,31.835c3.107-0.513,5.896-2.329,7.794-5.096c0.455,0.1,0.921,0.163,1.392,0.206v17.904L14.813,31.835z M26,26.945c0.472-0.042,0.938-0.106,1.392-0.206c1.898,2.766,4.687,4.583,7.794,5.096L26,44.849V26.945z M35.691,8.101C36.132,8.034,36.569,8,37,8c5.514,0,10,4.935,10,11s-4.486,11-10,11c-2.964,0-5.741-1.438-7.633-3.902c0.009-0.004,0.018-0.009,0.027-0.013c0.225-0.096,0.444-0.201,0.662-0.312c0.101-0.051,0.201-0.103,0.301-0.157c0.191-0.104,0.381-0.21,0.567-0.324c0.13-0.08,0.255-0.167,0.381-0.251c0.21-0.142,0.418-0.286,0.619-0.441c0.205-0.157,0.408-0.319,0.603-0.489c0.116-0.102,0.227-0.21,0.34-0.317c0.151-0.142,0.3-0.287,0.444-0.437c0.109-0.114,0.216-0.23,0.322-0.348c0.144-0.162,0.282-0.328,0.417-0.497c0.092-0.114,0.185-0.225,0.273-0.343c0.202-0.27,0.395-0.548,0.577-0.835c0.076-0.12,0.144-0.247,0.217-0.37c0.112-0.191,0.223-0.383,0.326-0.581c0.078-0.149,0.151-0.3,0.223-0.452c0.089-0.188,0.174-0.379,0.255-0.572c0.064-0.152,0.128-0.302,0.187-0.457c0.106-0.28,0.202-0.566,0.289-0.855c0.045-0.148,0.085-0.298,0.125-0.448c0.072-0.269,0.138-0.54,0.194-0.815c0.028-0.14,0.052-0.281,0.076-0.423c0.045-0.26,0.081-0.523,0.111-0.788c0.014-0.128,0.03-0.256,0.041-0.385C36.978,14.795,37,14.4,37,14c0-0.489-0.03-0.97-0.079-1.445c-0.015-0.142-0.041-0.28-0.059-0.421c-0.045-0.336-0.096-0.67-0.165-0.997c-0.033-0.16-0.074-0.317-0.113-0.476c-0.076-0.308-0.16-0.612-0.256-0.91c-0.05-0.157-0.102-0.312-0.158-0.466c-0.11-0.306-0.233-0.603-0.363-0.897C35.765,8.293,35.735,8.194,35.691,8.101z M25,3c3.438,0,6.476,1.919,8.276,4.834l0.03,0.05c0.019,0.032,0.035,0.066,0.054,0.098c0.232,0.39,0.435,0.795,0.619,1.209c0.039,0.087,0.078,0.174,0.115,0.262c0.183,0.44,0.344,0.89,0.472,1.351c0.011,0.039,0.018,0.081,0.028,0.12c0.112,0.419,0.195,0.847,0.26,1.279c0.018,0.118,0.035,0.236,0.049,0.355c0.057,0.476,0.096,0.956,0.096,1.442c0,0.348-0.019,0.692-0.047,1.032c-0.01,0.121-0.027,0.239-0.041,0.359c-0.025,0.216-0.053,0.431-0.089,0.643c-0.024,0.141-0.052,0.281-0.081,0.42c-0.039,0.187-0.082,0.371-0.13,0.554c-0.037,0.144-0.075,0.289-0.118,0.431c-0.053,0.176-0.113,0.349-0.174,0.521c-0.048,0.137-0.094,0.276-0.147,0.411c-0.083,0.211-0.177,0.416-0.272,0.619c-0.084,0.181-0.174,0.359-0.267,0.535c-0.093,0.175-0.186,0.351-0.287,0.52c-0.076,0.127-0.159,0.248-0.24,0.371c-0.093,0.141-0.186,0.282-0.284,0.418c-0.09,0.124-0.183,0.245-0.278,0.364c-0.099,0.125-0.2,0.247-0.303,0.367c-0.103,0.119-0.207,0.237-0.315,0.351c-0.101,0.107-0.206,0.208-0.31,0.31c-0.121,0.117-0.24,0.236-0.366,0.347c-0.079,0.07-0.162,0.133-0.242,0.2c-0.581,0.481-1.209,0.901-1.885,1.237c-0.002,0.001-0.004,0.002-0.006,0.003c-0.244,0.121-0.495,0.231-0.75,0.332c-0.012,0.005-0.025,0.01-0.037,0.015c-0.257,0.1-0.52,0.189-0.788,0.266C26.729,24.862,25.88,25,25,25s-1.729-0.138-2.542-0.374c-0.268-0.077-0.53-0.167-0.788-0.266c-0.012-0.005-0.025-0.01-0.037-0.015c-0.255-0.1-0.506-0.21-0.75-0.332c-0.002-0.001-0.004-0.002-0.006-0.003c-0.676-0.336-1.304-0.756-1.885-1.237c-0.081-0.067-0.164-0.13-0.242-0.2c-0.126-0.111-0.245-0.229-0.366-0.347c-0.105-0.102-0.209-0.203-0.31-0.31c-0.108-0.114-0.212-0.232-0.315-0.351c-0.104-0.12-0.205-0.242-0.303-0.367c-0.095-0.12-0.188-0.24-0.278-0.364c-0.098-0.136-0.192-0.277-0.284-0.418c-0.081-0.123-0.164-0.245-0.24-0.371c-0.102-0.169-0.194-0.345-0.287-0.52c-0.093-0.176-0.183-0.353-0.267-0.535c-0.095-0.204-0.188-0.409-0.272-0.619c-0.053-0.135-0.099-0.274-0.147-0.411c-0.061-0.172-0.121-0.345-0.174-0.521c-0.043-0.142-0.08-0.286-0.118-0.431c-0.047-0.183-0.091-0.367-0.13-0.554c-0.029-0.139-0.057-0.279-0.081-0.42c-0.036-0.212-0.065-0.427-0.089-0.643c-0.014-0.12-0.031-0.238-0.041-0.359c-0.029-0.34-0.047-0.683-0.047-1.032c0-0.486,0.039-0.966,0.096-1.442c0.014-0.119,0.032-0.236,0.049-0.353c0.065-0.432,0.149-0.861,0.26-1.28c0.01-0.039,0.017-0.081,0.028-0.12c0.128-0.461,0.289-0.911,0.472-1.352c0.036-0.088,0.076-0.174,0.115-0.261c0.184-0.414,0.387-0.82,0.62-1.21c0.019-0.032,0.035-0.066,0.054-0.098l0.03-0.05C18.524,4.919,21.562,3,25,3z M13,8c0.431,0,0.868,0.034,1.309,0.101c-0.044,0.093-0.074,0.192-0.116,0.286c-0.131,0.294-0.253,0.592-0.363,0.897c-0.056,0.155-0.108,0.31-0.158,0.466c-0.096,0.299-0.18,0.602-0.256,0.91c-0.039,0.158-0.08,0.316-0.113,0.476c-0.068,0.328-0.12,0.661-0.165,0.997c-0.019,0.141-0.045,0.279-0.059,0.421C13.03,13.03,13,13.511,13,14c0,0.4,0.022,0.795,0.056,1.188c0.011,0.129,0.027,0.257,0.041,0.385c0.03,0.265,0.067,0.527,0.111,0.788c0.024,0.141,0.047,0.283,0.076,0.423c0.056,0.275,0.122,0.546,0.194,0.815c0.04,0.15,0.08,0.3,0.125,0.448c0.088,0.289,0.184,0.575,0.289,0.855c0.058,0.155,0.123,0.305,0.187,0.457c0.081,0.193,0.165,0.384,0.255,0.572c0.072,0.152,0.146,0.303,0.223,0.452c0.103,0.197,0.214,0.39,0.326,0.581c0.073,0.123,0.141,0.25,0.217,0.37c0.182,0.287,0.375,0.565,0.577,0.835c0.088,0.117,0.182,0.229,0.273,0.343c0.136,0.169,0.274,0.336,0.417,0.497c0.105,0.118,0.212,0.234,0.322,0.348c0.144,0.15,0.293,0.295,0.444,0.437c0.113,0.107,0.223,0.215,0.34,0.317c0.195,0.171,0.398,0.332,0.603,0.489c0.201,0.155,0.409,0.3,0.619,0.441c0.127,0.085,0.252,0.171,0.381,0.251c0.185,0.115,0.375,0.22,0.567,0.324c0.1,0.054,0.2,0.106,0.301,0.157c0.218,0.11,0.437,0.216,0.662,0.312c0.009,0.004,0.018,0.009,0.027,0.013C18.741,28.562,15.965,30,13,30C7.486,30,3,25.065,3,19S7.486,8,13,8z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h5 class="text-lg leading-6 font-medium text-primary">Make it more funny</h5>
                                <p class="mt-2 text-base leading-6 text-secondary">
                                    Give your players tasks, note their statistics and keep track of their development. Players will enjoy it too.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-10 md:mt-0">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-accent-light text-default">
                                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h5 class="text-lg leading-6 font-medium text-primary">Organize well and together</h5>
                                <p class="mt-2 text-base leading-6 text-secondary">
                                    Organize your events, members, tasks, duties, discussions and much more, together with your players and their parents.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</template>
