<template>
    <div>
        <div class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="sm:text-center lg:text-left">
                <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-primary sm:text-5xl sm:leading-none md:text-6xl">
                    {{ $t('landingPage.hero.text.first') }}
                    <br class="xl:hidden" />
                    <span class="text-accent-dark">{{ $t('landingPage.hero.text.second') }}</span>
                </h2>
                <p class="mt-3 text-base text-primary sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                    {{ $t('landingPage.hero.text.description') }}
                </p>
                <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                    <div class="shadow">
                        <a v-if="!hasToken" href="#" @click.prevent="$store.commit('loginToggle', true)" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium text-default bg-accent-dark hover:bg-accent-light focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                            {{ $t('landingPage.hero.cta.primary') }}
                        </a>
                        <!-- if user is logged in, then just bring him to the app -->
                        <nuxt-link v-else :to="localePath({name: 'app'})" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium text-default bg-accent-dark hover:bg-accent-light focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                            {{ $t('landingPage.hero.cta.primary') }}
                        </nuxt-link>
                    </div>
                    <div class="mt-3 sm:mt-0 sm:ml-3">
                        <nuxt-link :to="localePath({ name: 'about' })" class="w-full flex items-center justify-center px-8 py-3 border border-accent-light text-base leading-6 font-medium text-accent-dark bg-transparent hover:text-default hover:bg-accent-light focus:outline-none focus:shadow-outline focus:border-indigo-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                            {{ $t('landingPage.hero.cta.secondary') }}
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-default transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
    </div>
</template>

<script>
    export default {
        layout: 'landing',
        computed: {
            hasToken() {
                return !!this.$apolloHelpers.getToken()
            }
        }
    }
</script>