<template>
    <div class="w-full py-8 md:w-2/3 md:mx-auto md:py-12">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-primary">
            {{ $t('signIn') }}
        </h2>
        <form @submit.prevent="login" class="mt-8">
            <div class="shadow-sm">
                <div>
                    <input
                            v-model="email"
                            :aria-label="$t('login.email')"
                            :name="$t('login.email')"
                            type="email"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('login.email')"
                    />
                </div>
                <div class="mt-6">
                    <input
                            v-model="password"
                            :aria-label="$t('login.password')"
                            :name="$t('login.password')"
                            type="password"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-primary placeholder-secondary text-primary focus:outline-none focus:border-accent-dark focus:z-10 sm:text-sm sm:leading-5"
                            :placeholder="$t('login.password')"
                    />
                </div>
            </div>

            <!-- FORGOT PASSWORD TRIGGER -->
            <div class="mt-6 flex items-center justify-between">
                <div class="text-sm leading-5">
                    <a
                        @click.prevent="$store.commit('forgotPasswordToggle')"
                        href="#"
                        class="font-medium text-accent-dark hover:text-accent-light focus:outline-none focus:underline transition ease-in-out duration-150">
                        {{ $t('login.forgotPassword') }}
                    </a>
                </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="py-3 sm:flex sm:flex-row-reverse">
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium text-default bg-accent-dark hover:bg-accent-light focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                        <span class="absolute left-0 inset-y pl-3">
                            <font-awesome-icon icon="lock"></font-awesome-icon>
                        </span>
                    {{ $t('signIn') }}
                </button>
            </div>
        </form>

        <!-- IMAGE ON THE RIGHT SIDE (BG) -->
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-default transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        layout: 'landing',
        data() {
            return {
                email: '',
                password: ''
            }
        },
        created() {
          if (!!this.$apolloHelpers.getToken()) {
              this.$apolloHelpers.onLogout()
          }
        },
        methods: {
            async login() {
                try {
                    const { token, user } = await this.$api.mutate({
                        mutation: gql`
                        mutation login($email: String!, $password: String!) {
                            login(email: $email, password: $password) {
                                token
                                user {
                                    id
                                    email
                                    name
                                    surname
                                }
                            }
                        }
                    `,
                        variables: {
                            email: this.email,
                            password: this.password
                        }
                    })
                    // set token to cookie
                    await this.$store.dispatch('user/login', token)
                    this.$router.push(this.localePath('app'))
                    this.$store.commit('user/user', {
                        id: user.id,
                        name: user.name,
                        surname: user.surname,
                        email: user.email
                    })
                    this.$toast.success(`${this.$t('app.welcome')} ${user.name}`)
                } catch(e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>