<template>
    <div class="sm:flex sm:items-start">
        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-accent-light sm:mx-0 sm:h-10 sm:w-10">
            <font-awesome-icon class="text-default" icon="check" />
        </div>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-xl leading-6 font-medium text-primary">
                {{ $t('register.success.title') }}
            </h3>
            <div class="mt-6 mb-4">
                <p class="text-lg leading-5 text-primary">
                    {{ $t('register.success.message') }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>