<template>
<div class="space-y-6">
    <app-toolbar
        :page-title="pageTitle"
        :actions="toolbarActions"
    />
    <discussion-thread
        v-if="discussion"
        :addDiscussionMessageOpen="addDiscussionMessageOpen"
        @closed="addDiscussionMessageOpen = false"
        class="mt-6"
        :discussion="discussion"
        @messageCreated="handleMessageCreated()"
    />
</div>

</template>

<script>
    import gql from 'graphql-tag'
    import DiscussionThread from "../../../components/app/discussionThread";
    import AppToolbar from "../../../components/app/appToolbar";

    export default {
        components: {AppToolbar, DiscussionThread},
        layout: 'app',
        asyncData({route, error, app}) {
            if (!route.params.discussion) {
                error({statusCode: 400, message: app.i18n.t('error.badRequestMessage')})
            }

            return {
                discussionId: route.params.discussion
            }
        },
        apollo: {
            discussion: {
                query: gql`
                    query discussion($discussionId: ID!) {
                        discussion(discussionId: $discussionId) {
                            id
                            title
                            created
                            closed
                            author {
                                id
                                nickname
                                user {
                                    id
                                    fullname
                                }
                            }
                            messages {
                                id
                                message
                                created
                                author {
                                    id
                                    nickname
                                    user {
                                        id
                                        fullname
                                    }
                                }
                            }
                        }
                    }
                `,
                variables() {
                    return {
                        discussionId: this.discussionId
                    }
                },
                context() {
                    return {
                        headers: {
                            'X-Tms-Member': this.$store.state.user.member.id
                        }
                    }
                }
            }
        },
        data() {
          return {
              addDiscussionMessageOpen: false
          }
        },
        computed: {
            pageTitle() {
                return this.$t(`pages.${this.getRouteBaseName(this.$route)}`)
            },
            // is current user a coach?
            amICoach() {
                return this.$store.getters['user/isCoach']
            },
            // is current member author of the discussion thread?
            amIAuthor() {
              return this.$store.state.user.member.id === this.discussion?.author.id
            },
            // is current discussion closed?
            isClosed() {
              return this.discussion?.closed
            },
            toolbarActions() {
                let actions = []

                if (!this.isClosed) {
                    actions.push({
                        icon: 'plus',
                        label: this.$t('discussion.addDiscussionMessage'),
                        type: 'app-primary',
                        onClick: () => this.addDiscussionMessageOpen = true
                    })
                }

                if (this.amIAuthor || this.amICoach) {
                    actions.unshift(
                        {
                            icon: 'trash',
                            label: this.$t('app.remove'),
                            type: 'app-secondary',
                            onClick: () => this.removeDiscussion()
                        }
                    )

                    if (this.isClosed) {
                        actions.unshift(
                            {
                                icon: 'undo',
                                label: this.$t('discussion.reopen'),
                                type: 'app-secondary',
                                onClick: () => this.setDiscussionClosed(false)
                            }
                        )
                    } else {
                        actions.unshift(
                            {
                                icon: 'times',
                                label: this.$t('discussion.close'),
                                type: 'app-secondary',
                                onClick: () => this.setDiscussionClosed(true)
                            }
                        )
                    }
                }

                return actions
            }
        },
        methods: {
            handleMessageCreated() {
                this.addDiscussionMessageOpen = false
                this.$apollo.queries.discussion.refetch()
            },
            async removeDiscussion() {
                if (confirm(this.$t("discussion.sureToRemove"))) {
                    try {
                        await this.$api.mutate({
                            mutation: gql`
                            mutation discussionRemove($discussionId: ID!) {
                                discussionRemove(discussionId: $discussionId)
                            }
                        `,
                            variables: {
                                discussionId: this.discussion.id
                            }
                        })
                        await this.$router.push(this.localePath({ name: 'app-discussions' }))
                        this.$toast.success(this.$t('discussion.removeSuccess'))
                    } catch (e) {
                        this.$toast.error(this.$t(`error.${e.message}`))
                    }
                }
            },
            async setDiscussionClosed(closed) {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                        mutation discussionUpdate($discussionId: ID!, $closed: Boolean) {
                            discussionUpdate(discussionId: $discussionId, closed: $closed)
                        }
                    `,
                        variables: {
                            discussionId: this.discussion.id,
                            closed
                        }
                    })
                    await this.$apollo.queries.discussion.refetch()
                    this.$toast.success(closed ? this.$t('discussion.closeSuccess') : this.$t('discussion.reopenSuccess'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>