<template>
    <div class="w-full">
        <app-toolbar
            :page-title="pageTitle"
            :actions="toolbarActions"
        />
        <tab-bar v-model="selectedTab" :tabs="tabs" />
        <div class="w-full mt-6">
            <transition name="fade-open">
                <member-detail
                    v-if="selectedTab === 0 && member"
                    ref="memberDetail"
                    :value="member"
                    :disabled="!isEdited"
                    :subtitle="$t(`enums.memberRoles.${member.role}`)"
                />
            </transition>
            <transition name="fade-open">
                <div v-if="selectedTab === 1">
                    <player-statistics
                        ref="playerStatistics"
                        v-if="member"
                        :player-id="member.id"
                    />
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import AppToolbar from "../../../components/app/appToolbar";
    import Btn from "../../../components/btn";
    import TabBar from "../../../components/app/tabBar";
    import MemberDetail from "../../../components/app/memberDetail";
    import {RoleEnum} from "../../../enums/RoleEnum";
    import Loader from "../../../components/loader";
    import PlayerStatistics from "../../../components/app/playerStatistics";

    export default {
        components: {PlayerStatistics, Loader, MemberDetail, TabBar, Btn, AppToolbar},
        layout: 'app',
        asyncData({ route, app, error }) {
            if (!route.params.member) {
                error({ statusCode: 400, message: app.i18n.t('error.badRequestMessage')})
            }

            return {
                memberId: route.params.member
            }
        },
        apollo: {
            member: {
                query: gql`
                    query member($memberId: ID!) {
                        member(memberId: $memberId) {
                            id
                            nickname
                            shirtNumber
                            position
                            role
                            isUnable
                            user {
                                id
                                fullname
                                email
                                name
                                surname
                            }
                        }
                    }
                `,
                variables() {
                    return {
                        memberId: this.memberId
                    }
                },
                context() {
                    return {
                        headers: {
                            'X-Tms-Member': this.$store.state.user.member.id
                        }
                    }
                }
            }
        },
        data() {
            return {
                selectedTab: 0,
                isEdited: false
            }
        },
        computed: {
            pageTitle() {
                return this.$t(`pages.${this.getRouteBaseName(this.$route)}`)
            },
            toolbarActions() {
                const actions = []

                if (this.amICoach || this.isFetchedMemberMe) {
                    if (this.isEdited) {
                        actions.push({
                            icon: "check",
                            label: this.$t('app.save'),
                            type: 'app-primary',
                            onClick: () => this.updateMember()
                        })
                    } else {
                        actions.push({
                            icon: 'edit',
                            label: this.$t('app.edit'),
                            type: 'app-primary',
                            onClick: () => {
                                this.isEdited = true
                                this.selectedTab = 0
                            }
                        })
                    }

                    if (this.isUnable) {
                        actions.unshift({
                            icon: "running",
                            label: this.$t('member.isAble'),
                            type: 'app-secondary',
                            onClick: () => this.setMemberUnable(false)
                        })
                    } else {
                        actions.unshift({
                            icon: "user-injured",
                            label: this.$t('member.isUnable'),
                            type: 'app-secondary',
                            onClick: () => this.setMemberUnable(true)
                        })
                    }
                }

                if (this.amICoach && !this.isCoach) {
                    actions.unshift({
                        label: this.$t('playerStatistics.add'),
                        type: 'app-secondary',
                        icon: "chart-pie",
                        onClick: () => {
                            this.selectedTab = 1
                            setTimeout(() => {
                                this.$refs.playerStatistics.playerStatisticsModalOpen = true
                            }, 200)
                        }
                    })
                }

                return actions
            },
            // is fetched member a coach?
            isCoach() {
              return this.member?.role === RoleEnum.COACH
            },
            // is current user a coach?
            amICoach() {
              return this.$store.getters['user/isCoach']
            },
            isFetchedMemberMe() {
              return this.member?.id === this.$store.state.user.member.id
            },
            isUnable() {
              return this.member?.isUnable
            },
            tabs() {
                const tabs = [
                    {
                        id: 0,
                        label: 'Basic info'
                    }
                ]

                if (!this.isCoach) {
                    tabs.push({
                        id: 1,
                        label: 'Statistics'
                    })
                }

                return tabs
            }
        },
        methods: {
            async updateMember() {
                const { user, ...editedMember } = this.$refs.memberDetail.editedMember
                try {
                    if (editedMember) {
                        await this.$api.mutate({
                            mutation: gql`
                            mutation memberUpdate($memberId: ID!, $member: MemberInput!) {
                                memberUpdate(memberId: $memberId, member: $member)
                            }
                        `,
                            variables: {
                                memberId: this.member.id,
                                member: editedMember
                            }
                        })
                        await this.$apollo.queries.member.refetch()
                        this.$toast.success(this.$t('member.updateSuccess'))
                    }

                    if (user) {
                        await this.$api.mutate({
                            mutation: gql`
                            mutation userUpdate($userId: ID!, $user: UserInput!) {
                                userUpdate(userId: $userId, user: $user)
                            }
                        `,
                            variables: {
                                userId: this.member.user.id,
                                user
                            }
                        })
                        await this.$apollo.queries.member.refetch()
                        this.$toast.success(this.$t('user.updateSuccess'))
                    }
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }

                this.isEdited = false
            },
            async setMemberUnable(isUnable) {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                        mutation memberUpdate($memberId: ID!, $member: MemberInput!) {
                            memberUpdate(memberId: $memberId, member: $member)
                        }
                    `,
                        variables: {
                            memberId: this.member.id,
                            member: {
                                isUnable
                            }
                        }
                    })
                    await this.$apollo.queries.member.refetch()
                    this.$toast.success(isUnable ? this.$t('member.isUnableSuccess') : this.$t('member.isAbleSuccess'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            }
        }
    }
</script>