<template>
    <div class="w-full">
        <app-toolbar :page-title="pageTitle" :actions="toolbarActions" />
        <div class="w-full mt-6">
            <event-detail
                v-if="myEvent"
                ref="eventDetail"
                :key="myEvent.id + eventDetailTime"
                :event-data="myEvent"
                :disabled="!isEdited"
            />
        </div>
        <div class="w-full my-6">
            <event-comments
                v-if="myEvent"
                :event-id="myEvent.id"
                :comments="eventComments"
            />
        </div>
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import EventDetail from "../../../components/app/eventDetail";
    import appToolbar from "../../../components/app/appToolbar";
    import {isEmpty} from "../../../utils";
    import EventComments from "../../../components/app/eventComments";
    export default {
        components: {EventComments, EventDetail, appToolbar},
        layout: 'app',
        asyncData({ route, app, error }) {
            if (!route.params.event) {
                error({ statusCode: 400, message: app.i18n.t('error.badRequestMessage')})
            }

            return {
                eventId: route.params.event
            }
        },
        apollo: {
            myEvent: {
                query: gql`
                    query myEvent($eventId: ID!) {
                        event(eventId: $eventId) {
                            id
                            title
                            type
                            meetingTime
                            start
                            end
                            place
                            notes
                            allDay
                            lineup {
                                isAbsent
                                member {
                                    id
                                    nickname
                                    user {
                                        id
                                        fullname
                                    }
                                }
                          }
                        }
                    }
                `,
                variables() {
                    return {
                        eventId: this.eventId
                    }
                },
                update(data) {
                    return data.event
                },
                context() {
                    return {
                        headers: {
                            'X-Tms-Member': this.$store.state.user.member.id
                        }
                    }
                }
            },
            eventComments: {
                query: gql`
                    query eventComments($eventId: ID!) {
                        eventComments(eventId: $eventId) {
                            author {
                                nickname
                                user {
                                    fullname
                                }
                            }
                            message
                            created
                        }
                    }
                `,
                variables() {
                    return {
                        eventId: this.eventId
                    }
                },
                context() {
                    return {
                        headers: {
                            'X-Tms-Member': this.$store.state.user.member.id
                        }
                    }
                }
            }
        },
        data() {
            return {
                isEdited: false,
                eventDetailTime: new Date().getTime()
            }
        },
        computed: {
            pageTitle() {
                return this.$t(`pages.${this.getRouteBaseName(this.$route)}`)
            },
            // is current user a coach?
            amICoach() {
                return this.$store.getters['user/isCoach']
            },
            toolbarActions() {
                if (this.amICoach) {
                    if (this.isEdited) {
                        return [
                            // Cancel editing
                            {
                                label: this.$t('app.cancel'),
                                type: 'app-secondary',
                                onClick: () => {
                                    this.isEdited = false
                                    this.eventDetailTime = new Date().getTime()
                                }
                            },
                            // Save edited data
                            {
                                label: this.$t('app.save'),
                                type: 'app-primary',
                                onClick: () => this.updateEvent()
                            }
                        ]
                    } else {
                        return [
                            {
                                icon: 'trash',
                                label: this.$t('app.remove'),
                                type: 'app-secondary',
                                onClick: () => this.removeEvent()
                            },
                            {
                                icon: 'edit',
                                label: this.$t('app.edit'),
                                type: 'app-primary',
                                onClick: () => this.isEdited = true
                            }
                        ]
                    }
                } else if(!!this.meInLineup) {
                    if (this.amIAbsent) {
                        return [
                            {
                                icon: 'check-circle',
                                label: this.$t('calendar.event.unsetAbsence'),
                                type: 'app-secondary',
                                onClick: () => this.setAbsence()
                            }
                        ]
                    } else {
                        return [
                            {
                                icon: 'times-circle',
                                label: this.$t('calendar.event.setAbsence'),
                                type: 'app-secondary',
                                onClick: () => this.setAbsence()
                            }
                        ]
                    }

                }
            },
            meInLineup() {
                const me = this.myEvent?.lineup.filter(l => l.member.id === this.$store.state.user.member.id)
                return me ? me[0] : null
            },
            amIAbsent() {
                if (!!this.meInLineup) {
                    return this.meInLineup.isAbsent
                }
            }
        },
        methods: {
            async updateEvent() {
                const editedEvent = this.$refs.eventDetail.editedEvent
                if (!isEmpty(editedEvent)) {
                    try {
                        await this.$api.mutate({
                        mutation: gql`
                            mutation eventUpdate($eventId: ID!, $event: EventInput!) {
                                eventUpdate(eventId: $eventId, event: $event)
                            }
                        `,
                            variables: {
                                eventId: this.myEvent.id,
                                event: editedEvent
                            }
                        })
                        await this.$apollo.queries.myEvent.refetch()
                        this.eventDetailTime = new Date().getTime()
                        this.$toast.success(this.$t('calendar.event.updateSuccess'))
                    } catch (e) {
                        this.$toast.error(this.$t(`error.${e.message}`))
                    }
                }

                this.isEdited = false
            },
            async setAbsence() {
                try {
                    await this.$api.mutate({
                        mutation: gql`
                            mutation setEventAbsence($eventId: ID!, $isAbsent: Boolean!) {
                                eventSetAbsence(eventId: $eventId, isAbsent: $isAbsent)
                            }
                        `,
                        variables: {
                            eventId: this.myEvent.id,
                            isAbsent: !this.amIAbsent
                        }
                    })
                    await this.$apollo.queries.myEvent.refetch()
                    this.eventDetailTime = new Date().getTime()
                    this.$toast.success(!this.amIAbsent ? this.$t('calendar.event.unsetAbsenceSuccess') : this.$t('calendar.event.setAbsenceSuccess'))
                } catch (e) {
                    this.$toast.error(this.$t(`error.${e.message}`))
                }
            },
            async removeEvent() {
                if (confirm(this.$t("calendar.event.sureToRemove"))) {
                    try {
                        await this.$api.mutate({
                            mutation: gql`
                            mutation eventRemove($eventId: ID!) {
                                eventRemove(eventId: $eventId)
                            }
                        `,
                            variables: {
                                eventId: this.myEvent.id
                            }
                        })
                        await this.$router.push(this.localePath({ name: 'app-calendar' }))
                        this.$toast.success(this.$t('calendar.event.removeSuccess'))
                    } catch (e) {
                        this.$toast.error(this.$t(`error.${e.message}`))
                    }
                }
            }
        }
    }
</script>